// @import 'fonts';
@import 'variables';
@import 'mixins';

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&display=swap');

@font-face {
    font-family: 'Larsseit-bold';
    src: url('../libraries/font-bold/Larsseit-Bold.eot') format('eot'),
        /* IE6-IE8 */
        url('../libraries/font-bold/Larsseit-Bold.svg') format('svg'),
        /* Super Modern Browsers */
        url('../libraries/font-bold/Larsseit-Bold.ttf') format('ttf'),
        /* Pretty Modern Browsers */
        url('../libraries/font-bold/Larsseit-Bold.woff') format('woff'),
        /* Safari, Android, iOS */
        url('../libraries/font-bold/Larsseit-Bold.woff2') format('woff2');
    /* Legacy iOS */
}

@font-face {
    font-family: 'Larsseit-medium';
    src: url('../libraries/font-medium/Larsseit-Medium.eot') format('eot'),
        /* IE6-IE8 */
        url('../libraries/font-medium/Larsseit-Medium.svg') format('svg'),
        /* Super Modern Browsers */
        url('../libraries/font-medium/Larsseit-Medium.ttf') format('ttf'),
        /* Pretty Modern Browsers */
        url('../libraries/font-medium/Larsseit-Medium.woff') format('woff'),
        /* Safari, Android, iOS */
        url('../libraries/font-medium/Larsseit-Medium.woff2') format('woff2');
    /* Legacy iOS */
}

body {
    font-family: 'Inter', sans-serif;
}

/*css3 design scrollbar*/
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #DBD6FF;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #AC9FFC;
    border-radius: 10px;
}

// home page
.body-homepage {
    background-color: $color3;
}

.content-homepage {
    background-image: $gradienBg;
    height: 952px;
    overflow: hidden;
    position: relative;
}

.container-homepage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 1140px;
    width: 100%;
    position: relative;
}

.navbar-homepage {
    position: relative;
    z-index: 5;

    .container {
        width: 1044px;
        position: relative;
    }

    .navbar-toggler {
        border: none;

        &:focus {
            box-shadow: none;
        }

    }

    .collapse-text {
        .nav-link {
            text-align: center;
        }

        .btn-getstarted {
            text-align: center;
        }

        .btn-login {
            text-align: center;
        }
    }

    .navbar-collapse {
        position: absolute;
        top: 100%;
        width: 95%;
        z-index: 15;
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 10px;
        background-color: $color2;
    }

    // .collapse{
    .btn-getstarted {
        background-color: $color6;
        border: none;
        border-radius: 5px;

        &:hover {
            opacity: 0.8;
            transition: 0.3s;
            background: $gradienColor;
            border: none;
            color: white !important;
        }
    }
}


// 404
.body-404 {
    background-image: $gradienBg;
    position: relative;

    .navbar-homepage {
        position: relative;
        z-index: 15;

        .container-fluid {
            position: relative;
            z-index: 15;
        }

        .navbar-collapse {
            position: absolute;
            top: 100%;
            width: 95%;
            z-index: 15;
            background-color: $color2;
            padding-left: 10px;
            padding-right: 10px;
            padding-bottom: 10px;
        }
    }

    .ellipe-1 {
        background-image: url(../images/404/Ellipse2.png);
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: top;
        background-position-x: 200px;
    }

    .ellipe-2 {
        background-image: url(../images/404/Ellipse1.png);
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: bottom;
        background-position-x: -200px;
    }

    .container-fluid {
        overflow: hidden;
        height: 100vh;
        padding-top: 130px;
        position: relative;

        .pattern {
            position: absolute;
            left: -260px;
            right: 0;
            text-align: center;
            top: -300px;
            bottom: 0;
            margin: auto;
            width: 920px;

        }

        .illustration-404 {
            width: 234px;
            margin-top: 50px;
        }

        .display-4 {
            margin-top: 20px;
            font-size: 25px;
            font-weight: 400;
            padding-bottom: 12px;
        }

        .lead {
            font-size: 16px;
            color: $graytext;
            padding-bottom: 32px;
        }

        .btn-backtohome {
            background-color: $color6;
            border: none;
            padding: 12px 16px;
            width: 142px;
            color: white;

            &:hover {
                background-image: $gradienColor;
            }
        }
    }
}


// Tablet Version
@media screen and (min-width: 768px) {

    // 404
    .body-404 {
        .container-fluid {
            .pattern {
                width: 1440px;
                top: -300px;
                left: -250px;
            }
        }
    }
}

// Desktop Version
@media screen and (min-width: 992px) {

    // homepage
    .content-homepage {
        height: 675px;
    }

    .navbar-homepage {
        background-color: transparent;
        padding-top: 30px;

        .container {
            width: 1044px;
        }

        .nav-item {
            padding-left: 30px;
        }

        .navbar-collapse {
            position: relative;
            top: auto;
            width: auto;
            z-index: 15;
            padding-left: 0px;
            padding-right: 0px;
            padding-bottom: 0px;
            background-color: transparent;
        }

        .collapse {
            .btn-getstarted {
                margin-right: 8px;
                width: 125px;
                height: 43px;
            }

            .btn-login {
                margin-top: 0;
                width: 75px;
                height: 43px;
            }
        }
    }

    // 404
    .body-404 {
        .navbar-homepage {
            .navbar-collapse {
                position: relative;
                top: auto;
                width: auto;
                z-index: 15;
                background-color: transparent;
                padding-left: 0px;
                padding-right: 0px;
                padding-bottom: 0px;
            }
        }

        .container-fluid {
            .pattern {
                width: 1440px;
                top: -200px;
                left: 0;
            }

            .illustration-404 {
                width: 470px;
            }

            .display-4 {
                margin-top: 40px;
                font-size: 38px;
                font-weight: 500;
                line-height: 46px;
                margin-bottom: 0;
                padding-bottom: 0;
            }

            .lead {
                font-size: 18px;
                margin-top: 12px;
                margin-bottom: 32px;
                padding-bottom: 0;
            }
        }

        .ellipe-1 {
            background-position-x: 600px;
        }

        .ellipe-2 {
            background-position-x: -600px;
        }
    }
}