$color1: #1B143C; //background
$color2: #221B4A; // navbar
$color3: #2B2252;
$color4: #33275C;


$color5: #43357F;
$color6: #7963FA; //tombol
$textColor:#A691EC;
$grayScale : #B4B6C4;
$gray: #5D6180;
$graytext: #BBB9C5;
$gradienColor: linear-gradient(263.29deg, #861C9B -9.37%, #4818EC 113.75%);
$gradienColor2 : linear-gradient(to right top, #1b143c, #1b143c, #1b143c, #1b143c, #1b143c, #211745, #28194d, #2f1b56, #411f69, #56217a, #6d208b, #861c9b);