:root {
  --crsl-bg: transparent;
  --box-bg: #0B0338;
  --box-shadow: none;
  --box-shadow-border: white;
  --box-border: #33275C;
}

html, body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  background: #2f3539;
  background: radial-gradient(circle, #2f3539 0%, #1e272e 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#2f3539",endColorstr="#1e272e",GradientType=1);
}

html *, body * {
  font-family: 'Source Sans Pro', sans-serif;
}

html > .carousel, body > .carousel {
  padding-top: 125px;
}

.carousel {
  position: relative;
  display: block;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.carousel__prev, .carousel__next {
  position: absolute;
  bottom: -15%;
  -webkit-transition: -webkit-transform 0.25s ease;
  transition: -webkit-transform 0.25s ease;
  transition: transform 0.25s ease;
  transition: transform 0.25s ease, -webkit-transform 0.25s ease;
}

.carousel__prev i, .carousel__next i {
  font-size: 60px;
  color: var(--box-border);
  cursor: pointer;
}

.carousel__prev:hover, .carousel__next:hover {
  -webkit-transform: scale(1.25);
          transform: scale(1.25);
}

.carousel__prev {
  left: 40%;
}

.carousel__next {
  right: 40%;
}

.carousel__body {
  width: 100%;
  padding: 40px 0;
  overflow: hidden;
  background-color: #221B42;
  height: 557px;
  z-index: 99;
  position: relative;
}

.carousel__body .carousel__slider {
  position: relative;
  -webkit-transition: -webkit-transform 1s ease-in-out;
  transition: -webkit-transform 1s ease-in-out;
  transition: transform 1s ease-in-out;
  transition: transform 1s ease-in-out, -webkit-transform 1s ease-in-out;
  background: var(--crsl-bg);
}

.carousel__body .carousel__slider__item {
  position: relative;
  display: block;
  float: left;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-left: 20px;
  margin-right: 20px;
}

.carousel__body .carousel__slider__item .item__3d-frame {
  position: relative;
  width: 100%;
  height: 100%;
  -webkit-transition: -webkit-transform 1s ease-in-out;
  transition: -webkit-transform 1s ease-in-out;
  transition: transform 1s ease-in-out;
  transition: transform 1s ease-in-out, -webkit-transform 1s ease-in-out;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.carousel__body .carousel__slider__item .item__3d-frame:after {
  content: '';
  position: absolute;
  bottom: -15%;
  width: 100%;
  height: 40px;
  background: var(--box-shadow);
  -webkit-box-shadow: 0px 0px 5px 5px var(--box-shadow);
          box-shadow: 0px 0px 5px 5px var(--box-shadow);
  -webkit-transform: rotateX(90deg) translate3d(0px, -20px, 0px);
          transform: rotateX(90deg) translate3d(0px, -20px, 0px);
  opacity: 0.85;
}

.carousel__body .carousel__slider__item .item__3d-frame__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  vertical-align: middle;
  text-align: center;
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-color: var(--box-border);
  background: var(--box-bg);
  border-width: 1px;
  border-style: solid;
  border-radius: 6px;
}

.carousel__body .carousel__slider__item .item__3d-frame__box h1 {
  font-size: 7em;
  width: 100%;
  color: var(--box-border);
}

.carousel__body .carousel__slider__item .item__3d-frame__box--right, .carousel__body .carousel__slider__item .item__3d-frame__box--left {
  top: 0;
  width: 60px;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.carousel__body .carousel__slider__item .item__3d-frame__box--left {
  left: 0;
  border-left-width: 1px;
  -webkit-transform: translate3d(1px, 0, -60px) rotateY(-90deg);
          transform: translate3d(1px, 0, -60px) rotateY(-90deg);
  -webkit-transform-origin: 0%;
          transform-origin: 0%;
}

.carousel__body .carousel__slider__item .item__3d-frame__box--right {
  right: 0;
  border-right-width: 1px;
  -webkit-transform: translate3d(-1px, 0, -60px) rotateY(90deg);
          transform: translate3d(-1px, 0, -60px) rotateY(90deg);
  -webkit-transform-origin: 100%;
          transform-origin: 100%;
}
/*# sourceMappingURL=glide.css.map */