// @import 'fonts';
@import 'variables';
@import 'mixins';

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&display=swap');

@font-face {
    font-family: 'Larsseit-bold';
    src: url('../libraries/font-bold/Larsseit-Bold.eot') format('eot'),
        /* IE6-IE8 */
        url('../libraries/font-bold/Larsseit-Bold.svg') format('svg'),
        /* Super Modern Browsers */
        url('../libraries/font-bold/Larsseit-Bold.ttf') format('ttf'),
        /* Pretty Modern Browsers */
        url('../libraries/font-bold/Larsseit-Bold.woff') format('woff'),
        /* Safari, Android, iOS */
        url('../libraries/font-bold/Larsseit-Bold.woff2') format('woff2');
    /* Legacy iOS */
}

@font-face {
    font-family: 'Larsseit-medium';
    src: url('../libraries/font-medium/Larsseit-Medium.eot') format('eot'),
        /* IE6-IE8 */
        url('../libraries/font-medium/Larsseit-Medium.svg') format('svg'),
        /* Super Modern Browsers */
        url('../libraries/font-medium/Larsseit-Medium.ttf') format('ttf'),
        /* Pretty Modern Browsers */
        url('../libraries/font-medium/Larsseit-Medium.woff') format('woff'),
        /* Safari, Android, iOS */
        url('../libraries/font-medium/Larsseit-Medium.woff2') format('woff2');
    /* Legacy iOS */
}

body {
    font-family: 'Inter', sans-serif;
}

/*css3 design scrollbar*/
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #DBD6FF;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #AC9FFC;
    border-radius: 10px;
}

// home page
.body-homepage {
    background-color: $color3;
}

.content-homepage {
    background-image: $gradienBg;
    height: 952px;
    overflow: hidden;
    position: relative;
}

.container-homepage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 1140px;
    width: 100%;
    position: relative;

    .ellipe {
        position: absolute;
        top: -185px;
        left: auto;
        bottom: 0;
        right: -300px;
        width: 930px;
    }
}

.navbar-homepage {
    position: relative;
    z-index: 5;

    .container {
        width: 1044px;
        position: relative;
    }

    .navbar-toggler {
        border: none;

        &:focus {
            box-shadow: none;
        }

    }

    .collapse-text {
        .nav-link {
            text-align: center;
        }

        .btn-getstarted {
            text-align: center;
        }

        .btn-login {
            text-align: center;
        }
    }

    .navbar-collapse {
        position: absolute;
        top: 100%;
        width: 95%;
        z-index: 15;
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 10px;
        background-color: $color2;
    }

    // .collapse{
    .btn-getstarted {
        background-color: $color6;
        border: none;
        border-radius: 5px;

        &:hover {
            opacity: 0.8;
            transition: 0.3s;
            background: $gradienColor;
            border: none;
            color: white !important;
        }
    }

    .btn-login {
        // text-align: center;
        background-color: transparent;
        border-radius: 5px;
        border: 1px solid $color6;
        margin-top: 10px;
        color: $color6 !important;

        &:hover {
            background: $gradienColor;
            border: 1px solid transparent;
            // border: none;
            border-radius: 5px;
            color: gainsboro !important;
            transition: 0.3s;
            opacity: 0.8s;
            box-shadow: 0px 0px 0px 1px none;
        }

    }
}

// halaman login dan sign up

.body-login {
    // background-image: $gradienBg;
    background: linear-gradient(101.71deg, #3B1B74 9.67%, #230D49 90.64%);
    overflow-x: hidden;
    overflow-y: scroll;
    height: 100vh;
}

// Login, forget password, sign up, email verification
.login-container {
    position: relative;
    padding-bottom: 120px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 1144px;
    width: 100%;

    .login-illustration {
        position: absolute;
        top: -305px;
        left: auto;
        bottom: 0;
        right: -365px;
        width: 930px;
        display: none;
    }

    .container {
        padding-top: 40px;

        .login-container__inner {
            position: relative;
            z-index: 5;
        }

        .left {
            background-color: $color2;
            background-image: url(../images/login/Bg2.png);
            background-size: cover;
            background-position: center;
            padding: 0;
            border-radius: 6px 0px 0px 6px;

            &.left__sign-up {
                padding-left: 32px;
                padding-right: 32px;
            }

            .login-container__left-image {
                width: 100%;
                height: auto;
            }

            .login-container__left-image--purchase {
                max-height: 475px;
            }

            .login-container__left-image--task {
                max-height: 352px;
            }
        }

        .right {
            background-color: #18103E;
            padding: 24px 24px 8px;
            border-radius: 6px;
            box-shadow: 0px 5.10345px 25.5172px rgba(6, 12, 59, 0.08);

            h4 {
                font-family: 'Larsseit-medium';
                font-size: 18px;
                margin-top: 40px;
                margin-bottom: 24px;
            }

            .form-label {
                font-size: 14px;
                font-style: normal;
                font-weight: normal;
                margin-bottom: 12px;
            }

            .title-text {
                color: #BBB9C5;
                margin-bottom: 0;
                font-size: 16px;
                margin-top: -24px;
                line-height: 22px;
                font-family: 'Inter', sans-serif;
            }

            .login-container__simple-form-title {
                margin-bottom: 8px;
            }

            .login-container__simple-form-info {
                font-family: 'Inter', sans-serif;
                font-size: 14px;
                line-height: 22px;
                color: #BBB9C5;
                margin-bottom: 32px;
            }

            form {
                position: relative;

                .login-container__verification-inner {
                    margin-bottom: 134px;
                }

                .login-container__forget-inner {
                    margin-bottom: 134px;
                }

                .login-container__form-item {
                    margin-bottom: 24px;
                }

                .login-container__form-field {
                    position: relative;
                    overflow: hidden;
                    border-radius: 6px;
                }

                .login-container__form-field-pwicon {
                    z-index: 1;
                }

                .login-container__form-field-gradient {
                    // background: linear-gradient(228.14deg, #861C9B 32.72%, rgba(166, 50, 230, 0.83) 44.41%, rgba(119, 49, 242, 0.92) 61.25%, #4818EC 70.77%) ;
                    background: linear-gradient(263.29deg, #861C9B -9.37%, #4818EC 113.75%);
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    display: block;
                    width: 100%;
                    height: 100%;
                    z-index: -1;
                    transition: border-color .25s ease-in-out;
                }

                .form-control {
                    font-size: 14px;
                    padding: 15px 16px;
                    border: 1px solid #0F0635;
                    background-color: #0F0635;
                    color: white;
                    position: relative;
                    border-radius: 6px;
                    z-index: 1;

                    &:focus {
                        outline: none;
                        box-shadow: none;
                        border-color: transparent;

                        &+.login-container__form-field-gradient {
                            z-index: 0;
                        }
                    }
                }

                .form-password {
                    position: relative;

                    #togglePassword {
                        position: absolute;
                        top: 26%;
                        right: 0;
                        bottom: 0;
                    }

                    .bi-eye-slash::before {
                        font-size: 16px;
                    }
                }

                .form-check {
                    margin-top: 8px;
                    margin-bottom: 24px;
                    padding-left: 25px;
                    padding-right: 25px;
                }

                .btn-primary {
                    font-size: 14px;
                    background-image: $gradienColor;
                    border-radius: 6px;
                    padding-top: 15px;
                    padding-bottom: 15px;
                    line-height: 1.25;
                    width: 100%;
                    border: none;

                    &:hover {
                        opacity: 0.9;
                    }
                }

                .login-container__form-link {
                    font-size: 14px;
                    text-align: center;
                    margin-bottom: 2em;

                    a {
                        display: inline-block;
                    }
                }

                .login-container__form-separator {
                    color: $gray;
                    display: block;
                    margin-top: 48px;
                    margin-bottom: 0;
                }

                .login-container__form-separator--verification {
                    margin-top: 0;
                }

                .privacy {
                    margin-top: 1em;
                    margin-bottom: 1em;

                    a {
                        font-size: 14px;
                        font-weight: 400;
                        line-height: 1.4;
                        color: #B4B6C4;
                        text-decoration: none;
                        padding-right: 22px;
                        display: inline-block;

                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }

                .bi-eye::before {
                    font-size: 16px;
                }

                .bi-eye-slash::before {
                    font-size: 16px;
                }

                .input-group-text {
                    background-color: $color1;
                    border: none;
                    border-radius: 6px;
                }

                .form-password-responsive {
                    margin-top: 24px;
                }

                .form-check-input {
                    background-color: $color1;
                    border-color: $gray;
                }

                .form-check-label {
                    font-size: 14px;
                    color: #5D6180;

                    a {
                        color: #5D6180;
                        // color: #B4B6C4;
                        font-size: 14px;
                        line-height: 26px;
                        text-decoration: none;
                        border-bottom: 1px solid #5D6180;
                    }
                }

                .forget-password {
                    font-style: normal;
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 20px;
                    color: #A691EC !important;
                    text-decoration: none;
                    // letter-spacing: 1px;
                }
            }
        }
    }
}

// waiting
.body-waiting {
    background-image: $gradienBg;
    overflow-x: hidden;
    overflow-y: scroll;
    height: 100vh;
}

.container__pass__update {
    padding-top: 158px;
}

.container__email__send {
    padding-top: 158px;
}

.waiting-container {
    position: relative;
    padding-bottom: 90px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 1144px;
    width: 100%;


    .waiting-illustration {
        position: absolute;
        top: -305px;
        left: auto;
        bottom: 0;
        right: -365px;
        width: 930px;
        display: none;
    }

    .container {
        padding-top: 65px;


        .waiting-container__inner {
            position: relative;
            z-index: 5;
        }

        .form-password {
            position: relative;
            z-index: 1;

            #togglePassword {
                position: absolute;
                top: 26%;
                right: 0;
                // left: 0;
                bottom: 0;
            }

            #NewTogglePassword {
                position: absolute;
                top: 26%;
                right: 0;
                // left: 0;
                bottom: 0;
            }
        }

        .waiting-list {
            background-color: #18103E;
            padding: 24px 24px 8px;
            border-radius: 6px;

            @media (min-width: 768px) {
                flex: 0 0 auto;
                max-width: 522px;
            }

            .waiting-container__waiting-logo {
                margin-left: auto;
                margin-right: auto;
                display: block;
                width: auto;
                height: 49px;
            }

            h4 {
                font-family: 'Larsseit-medium';
                font-size: 18px;
                margin-top: 40px;
                margin-bottom: 8px;
                line-height: 1.3;

                &.waiting-container__waiting-list-title {
                    margin-bottom: 24px;
                }
            }

            .waiting-container__info {
                font-family: 'Inter', sans-serif;
                font-size: 14px;
                color: #BBB9C5;
                line-height: 1.5;
                margin-bottom: 32px;
            }

            .waiting-list__form {
                position: relative;
                color: #fff;

                .form-label {
                    font-size: 14px;
                    margin-bottom: 12px;
                }

                .bi-eye::before {
                    font-size: 16px;
                }

                .bi-eye-slash::before {
                    font-size: 16px;
                }

                .form-control {
                    font-size: 14px;
                    line-height: 1.35;
                    padding: 15px 16px;
                    border: 1px solid #0F0635;
                    background-color: #0F0635;
                    border-radius: 6px;
                    color: white;

                    &:focus {
                        position: relative;
                        outline: none;
                        box-shadow: none;
                        border-radius: 6px;
                        border: 1px solid transparent;

                        +span {
                            width: 100%;
                            height: 100%;
                            // background: linear-gradient(228.14deg, #C233DF 32.72%, rgba(166, 50, 230, 0.83) 44.41%, rgba(119, 49, 242, 0.92) 61.25%, #5D30F9 70.77%) ;
                            background: linear-gradient(263.29deg, #861C9B -9.37%, #4818EC 113.75%);
                        }
                    }

                    +span {
                        border-radius: 6px;
                        display: block;
                        content: "";
                        position: absolute;
                        top: 0;
                        left: 0;
                        right: 0;
                        bottom: 0;
                        z-index: -1;
                    }
                }

                .form-check-input {
                    background-color: $color1;
                    border-color: $gray;
                }

                .form-check-label {
                    color: $gray;

                    a {
                        color: $gray;
                    }
                }

                .btn-primary {
                    background: $gradienColor;
                    border-radius: 6px;
                    padding: 15px;
                    border: none;
                    width: 100%;
                    font-size: 14px;
                    line-height: 1.25;
                    margin-bottom: 50px;

                    &:hover {
                        opacity: 0.9;
                    }

                    &.btn-primary--email-send {
                        margin-bottom: 56px;
                    }

                    &.btn-primary--waiting-list {
                        margin-bottom: 144px;
                    }

                    &.btn-primary--pass-update {
                        margin-bottom: 78px;
                    }
                }

                .forget-password {
                    font-style: normal;
                    font-weight: 500;
                    font-size: 16px;
                    color: $textColor !important;
                    text-decoration: none;
                }

                hr {
                    // color: $gray;
                    color: #B4B6C4;
                    margin-top: 0;
                    margin-bottom: 0;
                }
            }

            .privacy {
                margin-top: 16px;
                margin-bottom: 16px;

                a {
                    font-size: 14px;
                    line-height: 1.4;
                    text-decoration: none;
                    color: $grayScale;
                    padding-right: 22px;
                    font-weight: 400;
                    display: inline-block;
                }
            }
        }
    }
}

// success
.body-success {
    background-image: $gradienBg;
    overflow-x: hidden;
    overflow-y: scroll;
    height: 100vh;
}

.container-success {
    position: relative;
    padding-bottom: 90px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 1144px;
    width: 100%;

    .login-illustrasi {
        position: absolute;
        top: -305px;
        left: auto;
        bottom: 0;
        right: -365px;
        width: 930px;
    }

    .container {
        padding-top: 231px;
        padding-bottom: 223px;

    }

    .card {
        position: relative;
        margin-left: auto;
        margin-right: auto;
        z-index: 5;
        background-color: $color1;
        color: white;
        text-align: center;
        overflow: hidden;
        height: 370px;

        .animation__confetti {
            overflow: hidden;
            width: 100%;
            height: 100%;
            position: relative;
        }

        img {
            margin-left: auto;
            margin-right: auto;
            width: 210px;
            height: 190px;
            margin-top: 20px;
            margin-bottom: 20px;
        }

        .card-body {
            padding: 0;
            position: relative;

            .card-title {
                font-family: 'Larsseit-medium';
                font-size: 18px;
                line-height: 130%;
                margin-bottom: 0;
            }

            .card-text {
                margin-top: 16px;
                font-size: 14px;
                // line-height: 115%;
                margin-bottom: 48px;
                color: #BBB9C5;
                font-family: 'Inter', sans-serif;
            }
        }
    }
}

// Tablet Version
@media screen and (min-width: 768px) {

    // login
    .login-container {
        .container {
            .right {
                form {
                    .form-password-responsive {
                        margin-top: 0;
                    }
                }
            }
        }
    }

}

// Desktop Version
@media screen and (min-width: 992px) {

    // login
    .login-container {
        .container {
            padding-top: 80px;

            .right {
                padding: 40px 56px 0;
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;

                h4 {
                    font-size: 24px;
                    margin-top: 66px;
                    margin-bottom: 32px;
                }

                form {
                    .form-label {
                        font-size: 1rem;
                    }

                    .form-control {
                        font-size: 1rem;
                        padding: 12px 16px;
                        border-width: 2px;
                    }

                    .form-check {
                        margin-top: 16px;
                        margin-bottom: 32px;
                    }

                    .form-check-label {
                        font-size: 1rem;
                    }

                    .form-password-responsive {
                        margin-top: 0;
                    }

                    .form-password {
                        .bi-eye::before {
                            font-size: 20px;
                        }

                        .bi-eye-slash::before {
                            font-size: 20px;
                        }
                    }

                    .btn-primary {
                        font-size: 1rem;
                    }

                    .login-container__form-link {
                        font-size: 1rem;

                        a {
                            font-size: 1rem;
                        }
                    }

                    .login-container__form-separator {
                        margin-top: 56px;
                    }

                    .forget-password {
                        font-size: 1rem;
                    }

                    .privacy {
                        margin-top: 24px;
                        margin-bottom: 24px;

                        a {
                            font-size: 1rem;
                        }
                    }
                }
            }

            .login-illustration {
                display: block;
            }
        }
    }

    // waiting list
    .container__pass__update {
        padding-top: 143px;
    }

    .container__email__send {
        padding-top: 143px;
    }

    .waiting-container {

        .waiting-illustration {
            display: block;
        }

        .container {
            padding-top: 80px;


            .waiting-list {
                padding: 40px 56px 0;

                h4 {
                    font-size: 24px;
                    line-height: 1.25;
                    margin-top: 66px;

                    &.waiting-container__waiting-list-title {
                        margin-top: 56px;
                    }
                }

                h5 {
                    font-size: 24px;
                    line-height: 30px;
                }

                .waiting-container__info {
                    font-size: 16px;
                    line-height: 1.375;
                }

                .waiting-list__form {
                    .form-label {
                        font-size: 1rem;
                    }

                    .form-control {
                        border-width: 2px;
                        font-size: 1rem;
                        line-height: 1.4;
                        padding-top: 12px;
                        padding-bottom: 12px;

                        &:focus {
                            border-width: 2px;
                        }
                    }

                    .btn-primary {
                        font-size: 1rem;
                        margin-bottom: 106px;

                        &.btn-primary--email-send {
                            margin-bottom: 56px;
                        }

                        &.btn-primary--waiting-list {
                            margin-bottom: 64px;
                        }

                        &.btn-primary--pass-update {
                            margin-bottom: 78px;
                        }
                    }

                    .form-password {
                        .bi-eye::before {
                            font-size: 20px;
                        }

                        .bi-eye-slash::before {
                            font-size: 20px;
                        }
                    }
                }

                .privacy {
                    margin-top: 24px;
                    margin-bottom: 24px;

                    a {
                        font-size: 1rem;
                    }
                }
            }
        }
    }

    // success
    .container-success {
        .card {
            width: 522px;
            height: 432px;

            .card-body {
                .card-title {
                    font-size: 24px;
                    margin-top: 10px;
                }

                .card-text {
                    font-size: 16px;
                }

            }

            img {
                width: 210px;
                height: 190px;
                margin-top: 38px;
                margin-bottom: 28px;
            }
        }
    }
}