// @import 'fonts';
@import 'variables';
@import 'mixins';

@font-face {
  font-family: 'Larsseit-bold';
  src: url('../libraries/font-bold/Larsseit-Bold.eot') format('eot'), /* IE6-IE8 */
       url('../libraries/font-bold/Larsseit-Bold.svg') format('svg'), /* Super Modern Browsers */
       url('../libraries/font-bold/Larsseit-Bold.ttf') format('ttf'), /* Pretty Modern Browsers */
       url('../libraries/font-bold/Larsseit-Bold.woff')  format('woff'), /* Safari, Android, iOS */
       url('../libraries/font-bold/Larsseit-Bold.woff2') format('woff2'); /* Legacy iOS */
}
@font-face {
  font-family: 'Larsseit-medium';
  src: url('../libraries/font-medium/Larsseit-Medium.eot') format('eot'), /* IE6-IE8 */
       url('../libraries/font-medium/Larsseit-Medium.svg') format('svg'), /* Super Modern Browsers */
       url('../libraries/font-medium/Larsseit-Medium.ttf') format('ttf'), /* Pretty Modern Browsers */
       url('../libraries/font-medium/Larsseit-Medium.woff')  format('woff'), /* Safari, Android, iOS */
       url('../libraries/font-medium/Larsseit-Medium.woff2') format('woff2'); /* Legacy iOS */
}

body{
    font-family: 'Inter', sans-serif;
}

// home page
.body-homepage{
    background-color: $color3;
}
.content-homepage{
    background-image: $gradienBg;
    height: 952px;
    overflow: hidden;
    position: relative;
}
.container-homepage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 1140px;
    width: 100%;
    position: relative;
    .ellipe{
        position: absolute;
        top: -185px;
        left: auto;
        bottom: 0;
        right: -300px;
        width: 930px;
    }
}
.navbar-homepage{ 
    position: relative;
    z-index: 5;
    .container{
        width: 1044px;
        position: relative;
    }

    .navbar-toggler{
        border: none;

        &:focus{
            box-shadow: none;
        }

    }
    .collapse-text{
        .nav-link{
            text-align: center;
        }
        .btn-getstarted{
            text-align: center;
        }
        .btn-login{
            text-align: center;
        }
    }
    .navbar-collapse{
            position: absolute;
            top: 100%;
            width: 95%;
            z-index: 15;
            padding-left: 10px;
            padding-right: 10px;
            padding-bottom: 10px;
            background-color: $color2;
    }
    // .collapse{
        .btn-getstarted{
            background-color: $color6;
            border: none;
            border-radius: 5px;
            &:hover{
                opacity: 0.8;
                transition: 0.3s;
                background: $gradienColor;
                border: none;
                color: white !important;
            }
        }
        .btn-login{
            // text-align: center;
            background-color: transparent;
            border-radius: 5px;
            border: 1px solid $color6;
            margin-top: 10px;
            color: $color6 !important;

            &:hover{
                background: $gradienColor;
                border: 1px solid transparent;
                // border: none;
                border-radius: 5px;
                color:gainsboro !important;
                transition: 0.3s;
                opacity: 0.8s;
                box-shadow:0px 0px 0px 1px none;
            }
        // }
    }
}

// jumbotron
.jumbotron{
    position: relative;
    z-index: 1;
    .container{
        padding-bottom: 149px;
        // width: 1044px;
        .jumbotron-row{
            flex-direction: column-reverse;
        }
            
        
    }

    .display-4{
        color: white;
        font-weight: 700;
        margin-top: 41px;
        line-height: 36px;
        font-family: 'Larsseit-bold';
        font-size: 36px;
    }
    .lead{
        color: $graytext;
        font-size: 18px;
        font-weight: 400;
        margin-top: 16px;
        line-height: 22px;
        margin-bottom: 0px;
    }
    .btn-primary{
        background: $gradienColor;
        // border-radius: px;
        padding: 16px 24px;
        border: none;
        font-size: 16px;
        font-weight: 500;
        margin-top: 35px;
        width: 150px;
        height: 54px;

        &:hover{
            opacity: 0.8;
            transition: 0.3s;
        }       
    }
    .header-illustration{
        justify-content: center;
    }
    img{
        margin-top: 20px;
        width: 390px;
        height: 100%;
        text-align: center;
    }
}

.container-content{
    position: relative;

    // info panel
    .info-panel{
        background-color: $color2;
        margin-top: -110px;
        position: relative;
        z-index: 1;
        margin-left: 5px;
        margin-right: 5px;
        border-radius: 6px;
        padding-top: 32px;
        padding-bottom: 32px;
        
        #resultlist {
            position: absolute;
            width: 95%;
            margin-top: -20px;
            cursor: pointer;
            overflow-y: auto;
            max-height: 250px;
            box-sizing: border-box;
            z-index: 1001;
            padding-left: 10px;
            padding-right: 10px;
        }

        .list-group-item{
            background-color: $color1;
            border: none;
            color: white;

            .img-thumbnail{
                background-color: transparent;
                border-radius: 50%;
                width: 40px;
                height: 40px;
                border: 1px solid rgba(255, 255, 255, 0.5);
            }
        }
        .text-muted{
            color: white !important;
        }
        
        .input-group{
            // border: none;
            .input-group-text{
                border: none;
                background-color: $color1;
                padding-right: 2px;

                &:focus{
                    box-shadow: 0 0 0 1px $color6;
                }
            }
        }
        form{
            position: relative;
            .form-control{
                background-color: $color1;
                padding: 12px 16px;
                border: 2px solid transparent;
                color: white;
                border-radius: 6px; 
                padding-left: 13%; 
                margin-bottom: 20px;

                &:focus{
                    // box-shadow: 0 0 0 0;
                    position: relative;
                    outline: none;
                    box-shadow: none;
                    border-radius: 6px;
                    border: 2px solid transparent;
                    
                    + label {
                        width: 100%;
                        height: 100%;
                        background: linear-gradient(228.14deg, #C233DF 32.72%, rgba(166, 50, 230, 0.83) 44.41%, rgba(119, 49, 242, 0.92) 61.25%, #5D30F9 70.77%) ;
                    }
                }
                + label {
                    border-radius: 6px;
                    display: block;
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    z-index: -1;

                }
            }
            img{
                position: absolute;
                top: 25%;
                right: 0;
                left: 4%;
                bottom: 0;
                z-index: 1;
            }
        }
        
        .dropdown{
            // margin-left: 0px;
            .btn-secondary{
                background-color: $color1;
                border: 2px solid transparent;
                padding: 12px 16px;
                border-radius: 6px;
                color: $graytext;
                width: 100%;
                margin-bottom: 20px;
                color: rgba(255, 255, 255, 0.5);
                text-align: left;
                position: relative;   
                &:focus{
                    // position: relative;
                    color: $graytext;
                    outline: none;
                    box-shadow: none;
                    border-radius: 6px;
                    border: 2px solid transparent;
                }

                &::after{
                    border: none;
                }

                img{
                    float: right;
                }
            }

            .dropdown-item{
                // background-color: $color2;
                color: $graytext;

                &:hover{
                    color: white;
                    background-color: $color3;
                    transition: 0.4s;
                }
            }
            .dropdown-menu {
                background-color: $color1;
            }
        }

        .btn-findstore{
            background-color: $color6;
            border-radius: 5px;
            text-align: center;
            padding-top: 11px;
            height: 48px;

            &:hover{
                opacity: 0.8;
                transition: 0.3s;
                background: $gradienColor;
            }
        }
    }

    .card-shop{
        margin-top: 80px;
        margin-bottom: 100px;
        .card{
            border: 1px solid #33275C;
            border-radius: 5px;
            margin: 10px;
            .card-header{
                background-color: $color2;
                color: white;
                padding-top: 15px;

                img{
                    margin-right: 20px;
                    margin-top: 5px;
                    margin-left: 10px;
                    margin-bottom: 10px;
                    width: 60px;
                    height: 30px;
                }

                .card-title{
                    font-size: 20px;
                    font-weight: 700;
                    margin-bottom: 0;
                }
                .card-text{
                    color: $graytext;
                }
            }
            .card-body{
                padding: 0;
                img{
                    width: 100%;
                }
            }

            .card-footer{
                background-color: $color2;
                padding: 10px;
                .card-text{
                    color: $graytext;
                    font-size: 14;
                    margin-bottom: 2px;
                    margin-left: 10px;
                }
                .card-title{
                    font-size: 20px;
                    font-weight: 400;
                    color: white;
                    margin-left: 10px;
                }
                .btn-primary{
                    background-color: rgba(101, 78, 179, 0.5);
                    padding: 9px 16px;
                    text-align: center;
                    margin-right: 10px;
                    margin-top: 6px;
                    width: 105px;
                    height: 43px;
                    border: none;

                    &:hover{
                        background: $gradienColor;
                        // border: 1px solid $color6;
                        border-radius: 5px;
                        color: $grayScale !important;
                        transition: 0.3s;
                        opacity: 0.8s;
                    }
                }
            }
        }
    }
}

// 404
.body-404{
    background-image: $gradienBg;
    position: relative;

    .navbar-homepage{
        position: relative;
        z-index: 15;
        .container-fluid{
            position: relative;
            z-index: 15;
        }

        .navbar-collapse{
            position: absolute;
            top: 100%;
            width: 95%;
            z-index: 15;
            background-color: $color2;
            padding-left: 10px;
            padding-right: 10px;
            padding-bottom: 10px;
        }
    }
    
    .ellipe-1{
        background-image: url(../images/404/Ellipse2.png);
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: top;
        background-position-x: 200px;
    }
    .ellipe-2{
        background-image: url(../images/404/Ellipse1.png);
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: bottom;
        background-position-x: -200px;
    }
    .container-fluid{
        overflow: hidden;
        height: 100vh;
        padding-top: 130px;
        position: relative;
        
        .pattern{
            position: absolute;
            left: -260px;
            right: 0;
            text-align: center;
            top: -180px;
            bottom: 0;
            margin: auto;
            width: 920px;

        }

        .illustration-404{
            width: 234px;
            margin-top: 90px;
        }
        .display-4{
            margin-top: 20px;
            font-size: 25px;
            font-weight: 400;
            padding-bottom: 12px;
        }
        .lead{
            font-size: 16px;
            color: $graytext;
            padding-bottom: 32px;
        }
        .btn-primary{
            background-color: $color6;
            border: none;
            padding: 12px 16px;
            width: 142px;

            &:hover{
                background-image: $gradienColor;
            }
        }
    }
}

// dashboard
.dashboard{
    background-color: $color1;
}

// navbar
.navbar-dashboard{
    background-color: $color2;
    padding-top: 10px;
    padding-bottom: 10px;
    position: relative;
    
    .container{
        padding: auto;
    }

    .navbar-nav{
        .nav-item{
            margin-right: 20px;

            img{
                margin-right: 10px;
            }

            .active{
                background-color: $color6;
                border-radius: 6px;
                padding: 10px 16px;
                
            }
        }
    }

    .navbar-collapse{
            text-align: center;
            position: absolute;
            top: 100%;
            width: 95%;
            z-index: 15;
            padding-left: 10px;
            padding-right: 10px;
            padding-bottom: 10px;
            background-color: $color2;
    }
}

// card-Dashboard
.card-dashboard{
    .card{
        background-color: $color2;
        height: 190px;
        padding: 10px 0px 10px 10px;
        position: relative;
        margin-top: 24px;
        margin-right: 10px;

        .card-body{
            .card-subtitle{
                font-weight: 500;
                font-size: 16px;
            }
    
            .card-title{
                font-size: 30px;
                color: white;
                font-weight: 600;
            }
    
            .card-text{
                background: rgba(40, 199, 111, 0.12);
                width: 100px;
                border-radius: 6px;
                padding: 6px 8px;
                color: #28C76F;
            }

            .title{
                font-size: 14px;
                color: $graytext;
                margin-top: 16px;
                font-weight: 400;
                span{
                    font-size: 16px;
                    font-weight: 500;
                    color: white;
                }
            }

            .btn-primary{
                background-color: $color6;
                border-radius: 6px;
                padding: 10px 16px;
                border: none;
                width: 100%;
                font-weight: 600;
                line-height: 125%;
            }
        }

        .card-backgroud{
            position: absolute;
            top: 100;
            right: 0;
            left: 100;
            bottom: 0;
            margin-right: 24px;
            margin-bottom: 24px;
        }
    }
}

// checkout
.checkout{
    margin-top: 32px;

    .announcements{
        margin-top: 30px;
    }

    .table-content{
        background-color: $color2;

        h5{
            margin-left: 0px;
        }
    }

    .paginition{
        background-color: $color4;
        padding: 6px 5px;
        margin-bottom: 10px;
        border-radius: 6px;
        
        
        .nav-pills{
            .nav-item{
                #pills-home-tab{
                    margin-left: 7px;
                }
                .nav-link{
                    color: white;
                    font-size: 14px;
                    font-weight: 600;
                    // width: 125px;
                    width: 100%;
                }
                .nav-link.active{
                    background-color: $color6;
                    width: 100%;
                }
            }
        }
    }

    .card{
        background: linear-gradient(104.6deg, #6A3EE9 9.63%, #E03C8B 69.52%, #9D2FD8 99.46%);
        border-radius: 6px;
        border: none;
        text-align: center;
        padding: 30px 30px;

        .card-subtitle{
            font-size: 26px;
            font-weight: 600;
            margin-bottom: 20px;
        }

        .btn-primary{
            background-color: white;
            border: none;
            color: black;
            width: 100%;
            font-weight: 600;
        }
    }

    ::-webkit-scrollbar {
        width: 8px;
        height: 8px;
    }

    ::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
        -webkit-border-radius: 10px;
        border-radius: 10px;
    }

    ::-webkit-scrollbar-thumb {
        -webkit-border-radius: 10px;
        border-radius: 10px;
        background: white; 
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
    }
    ::-webkit-scrollbar-thumb:window-inactive {
        background: white;
    }
    .scroll1{
        max-width: auto;
        .scroll2{
            min-width: auto;
        }
    }             
    .table {
        // position: relative;
        padding-left: 40px;


        .form-check-input {
            background-color: transparent;
            border-color: $gray;
        }

        tbody{
            vertical-align: 0;
        }
        th {
            border-style: none;
            padding-top: 20px;
            padding-bottom: 20px;
            padding-left: 30px;
        }
        td{
            padding-top: 15px;
            padding-bottom: 15px;
            padding-left: 30px;
            border-color: $gray;
        }
    }
}

// footer
footer{
    padding-bottom: 10px;
    span{
        font-size: 14px;
        font-weight: 400;
        color: $graytext;
    }
    a{
        color: $graytext;
        text-decoration: none;
        font-size: 14px;
        font-weight: 400;
    }
}

// Task
.task-judul{
    .container{
        margin-bottom: 20px;
        padding: auto;
        .flex-right{
            justify-content: center;
        }
        .btn-group{
            // position: relative;
            
            form{
                position: relative;
                .form-control{ 
                    width: 170px;
                    height: 44px;
                    background-color: transparent;
                    border-color: #3A3456;
                    border-radius: 5px 0px 0 5px;
                    padding-left: 40px;
                    color: white;
                    border-right: none;
                    position: relative;

                    &:focus{
                        position: relative;
                        z-index: 5;
                        box-shadow: 0 0 0 0;
                        border-radius: 5px;
                        border: 1px solid $color1;
                        border-image-slice: 6;
                        border-width: 1;
                        border-image-source: linear-gradient(to left, #743ad5, #d53a9d);
                    }

                    
                }
                img{
                    position: absolute;
                    top: 28%;
                    right: 0;
                    left: 4%;
                    bottom: 0;
                }
            }
            .btn-secondary{
                background-color: transparent;
                border-left: none;
                padding-left: 3px;
                padding-right: 0px;
                border-color: #3A3456;
                position: relative;

                &::after{
                    position: absolute;
                    border-right: 1px solid #3A3456;
                    height: 30px;
                    bottom: 6px;
                    left: 0;
                    content: "";
                }

                &:focus{
                    position: relative;
                    z-index: 5;
                    box-shadow: 0 0 0 0;
                    border-radius: 5px;
                    border: 1px solid $color1;
                    border-image-slice: 6;
                    border-width: 1;
                    border-image-source: linear-gradient(to left, #743ad5, #d53a9d);
                }
            }
        }

        .input-group{
            .input-group-text{
                background-color: transparent;
                border-color: #3A3456;
            }
        }

        .btn-primary{
            color: #fff;
            background-color: $color6;
            border: none;
            // width: 135px !important;
            padding-top: 10px;

            &:hover{
                opacity: 0.8;
                transition: 0.3s;
                background: $gradienColor;
                border: none;
                color: white !important;
            }
        }

        .dropdown-toggle::after{
            border: none;
        }
        h2{
            font-size: 32px;
            font-weight: 600;
        }
        p{
            color: #BBB9C5;
        }

        .btn-group{
            height: 44px;
            width: auto;
            margin-right: 3px;
        }
        .input-group{
            width: auto;
        }
        .btn-primary{
            height: 44px;
            width: auto;
            margin-left: 3px;
        }
    }
}

.task-cart{
    .table-content{
        background-color: $color2;
        padding: 0;
        border-radius: 6px;
        
        .table {
            // position: relative;
            padding-left: 40px;


            .form-check-input {
                background-color: transparent;
                border-color: $gray;
            }

            tbody{
                vertical-align: 0;

                a{
                    padding-right: 28px;
                }
            }
            th {
                border-style: none;
                padding-top: 20px;
                padding-bottom: 20px;
                padding-left: 30px;
            }
            td{
                padding-top: 15px;
                padding-bottom: 15px;
                padding-left: 30px;
                border-color: $gray;
                color: #BBB9C5;
            }

        }
        .bg-danger{
            background-color: rgba(255, 67, 101, 0.12) !important;
            border-radius: 6px;
            color: #FF4365;
            padding-top: 8px;
            padding-bottom: 8px;
            padding-left: 10px;
            padding-right: 10px;
        }
        .bg-success{
            background-color: rgba(40, 199, 111, 0.12) !important;
            border-radius: 6px;
            color: #28C76F;
            padding-top: 8px;
            padding-bottom: 8px;
            padding-left: 10px;
            padding-right: 10px;
        }
        .bg-warning{
            background-color: rgba(255, 159, 67, 0.12) !important;
            border-radius: 6px;
            color: #FF9F43;
            padding-top: 8px;
            padding-bottom: 8px;
            padding-left: 10px;
            padding-right: 10px;

        }
        .sorting_asc {
            // background-color: black;
            &:focus{
                box-shadow: none;
            }
        }
        .dataTables_info{
            color: #B9B9C3;
            padding: 12px 16px;
        }

        .dataTables_scrollHead{
            border-radius: 6px;
        }
        .page-link{
            background-color: transparent;
            color: #BBB9C5;
            border: none;
            padding: 12px 16px;

            &:focus{
                box-shadow: none;
            }
        }
        .page-link.active{
            color: white;
            
        }
        .page-item.active {
            background-color: $color6;
            border-radius: 50%;
            color: white;
            height: 35px;
            width: 35px;
            margin-top: 9px;

            .page-link {
                color: white;
                margin-top: -6px;
                margin-left: -3px;
                font-weight: 600;
            }


        }
        .pagination-default{
            img{
                height: 25px;
            }
        }
    }
}

// your-profile
.profile{
    .your-profile-left{
        background-color: $color2;
        border-radius: 6px;
        padding: 0;
        padding-bottom: 32px;

        .judul-profile{
            padding-top: 20px;
            padding-bottom: 24px;
            padding-left: 32px;
            padding-right: 32px;

            p{
                padding-top: 7px;
                font-weight: 600;
                font-size: 20px;
            }
        }
        form{
            position: relative;
            .form-control{ 
                font-size: 12px;
                height: 44px;
                background-color: transparent;
                border-color: #3A3456;
                border-radius: 5px;
                padding-left: 40px;
                color: white;

                &:focus{
                    box-shadow: 0 0 0 0;
                    border-radius: 5px;
                    border: 1px solid $color1;
                    border-image-slice: 6;
                    border-width: 1;
                    border-image-source: linear-gradient(to left, #743ad5, #d53a9d);
                }
            }
            img{
                position: absolute;
                top: 25%;
                right: 0;
                left: 4%;
                bottom: 0;
                width: 24px;
                height: 24px;
            }       
        }

        .table {
            // position: relative;
            // padding-left: 40px;
            padding: 0;


            .form-check-input {
                background-color: transparent;
                border-color: $gray;
            }

            tbody{
                vertical-align: 0;
                a{
                    padding-left: 10px;
                }
            }
            th {
                font-weight: 500;
                border-style: none;
                padding-top: 20px;
                padding-bottom: 20px;
                padding-left: 30px;
            }
            td{
                padding-top: 15px;
                padding-bottom: 15px;
                padding-left: 30px;
                border-color: $gray;
                color: #BBB9C5;
            }

        }
        .table-profile{
            .action-knob{
                padding-top: 200px;
                .btn-primary{
                    background-color: $color6;
                    border-radius: 6px;
                    border:none;
                    font-weight: 500;
                    padding: 10px 16px;
                    margin-right: 16px;
                    width: 174px;
                    height: 44px;

                    &:hover{
                    opacity: 0.8;
                    transition: 0.3s;
                    background: $gradienColor;
                    border: none;
                    color: white;
                
                    }
                }

                .btn-danger{
                    border: 1px solid #E03C8B;
                    background-color: transparent;
                    color: #E03C8B;
                    padding: 10px 16px;
                    width: 174px;
                    height: 44px;

                    &:hover{
                        opacity: 0.8;
                        transition: 0.3s;
                        background: $gradienColor;
                        border: none;
                        color: white;
                    }
                }
            }
        }
    }

    .your-profile-right{
        justify-content: center;
        .profile-information{
            border-radius: 6px;
            background-color: $color2;
            margin-top: 25px;

            .profile-information-left{
                padding-left: 32px;
                padding-top: 32px;
                padding-right: 32px;
                padding-bottom: 32px;
                p{
                    font-size: 20px;
                    font-weight: 600;
                    padding-bottom: 24px;
                }

                .stepwizard-step p {
                    margin-top: 0px;
                    color: white;

                    small{
                        font-size: 12px;
                        font-weight: 400;
                    }
                    span{
                        font-size: 14px;
                        font-weight: 600;
                    }
                }
                .stepwizard-row {
                    display: table-row;
                }
                .stepwizard {
                    display: table;
                    width: 100%;
                    position: relative;
                }
                .stepwizard .btn.disabled, .stepwizard .btn[disabled], .stepwizard fieldset[disabled] .btn {
                    opacity:1 !important;
                    color:#bbb;
                }
                .progress{
                    top: 13px;
                    bottom: 0;
                    position: absolute;
                    content: " ";
                    width: 74%;
                    left:13%;
                    height: 1px;
                    z-index: 0;
                    
                    &:active{
                        background-color: $color6;
                    }
                }
                .stepwizard-step {
                    display: table-cell;
                    text-align: center;
                    position: relative;
                }
                .btn-circle {
                    width: 30px;
                    height: 30px;
                    text-align: center;
                    padding: 6px 0;
                    font-size: 12px;
                    border-radius: 50%;
                }    

                .form-control{
                    // width: 470px;
                    padding: 12px 16px;
                    border: 1px solid $color1;
                    background-color: $color1;
                    border-radius: 6px;
                    color: white;
                    line-height: 125%;

                    &:focus{
                        box-shadow: 0 0 0 0;
                        border-image-slice: 1;
                        border-width: 1;
                        border-image-source: linear-gradient(to left, #743ad5, #d53a9d);
                        border-radius: 6px;
                    }
                }
                .form-check-input{
                    background-color: transparent;
                    border-color: white;
                }
                .pager{
                    padding-top: 32px;
                    padding-bottom: 32px;
                    .arrow-left{
                        background-color: $color4;
                        padding: 12px;
                        border-radius: 6px;
                        margin-right: 14px;
                    }
                    .arrow-right{
                        background-color: $color6;
                        padding: 12px;
                        border-radius: 6px;
                    }
                }
            }

            .profile-information-right{
                padding-left: 32px;
                padding-top: 32px;
                padding-right: 32px;
                position: relative;
                padding-bottom: 32px;

                &::after{
                    content: none;
                }
                p{
                    font-size: 20px;
                    font-weight: 600;
                }
                .text-title{
                    font-size: 16px;
                    font-weight: 500;
                }
                .card{
                    background-color: transparent;
                    
                    img{
                        height: 226px;
                    }
                    
                    .text-title{
                        font-size: 16px;
                        font-weight: 500;
                    }
                    .card-text{
                        font-size: 18px;
                        font-weight: 600;
                        padding-top: 10px;
                    }

                    .card-text-name{
                        p{
                            font-size: 12px;
                            font-weight: 200;
                            text-transform: uppercase ;
                            line-height: 125%;
                            letter-spacing: 0.08em;
                        }
                    }
                    .card-text-name-profile{
                        .detail-profile{
                            margin-top: -17px;
                        }
                        p{
                            font-weight: 600;
                            line-height: 125%;
                            font-size: 16px;
                        }
                    }
                }

                .form-control{
                // width: 470px;
                padding: 12px 16px;
                border: 1px solid $color1;
                background-color: $color1;
                border-radius: 6px;
                color: white;

                    &:focus{
                        box-shadow: 0 0 0 0;
                        border-image-slice: 1;
                        border-width: 1;
                        border-image-source: linear-gradient(to left, #743ad5, #d53a9d);
                        border-radius: 6px;
                    }
                }

                .form-password{
                    position: relative;

                    #togglePassword{
                        position: absolute;
                        top: 23%;
                        right: 0;
                        // left: 0;
                        bottom: 0;
                    }
                }
                .input-group-text{
                    background-color: $color1;
                    border: none;
                    border-radius: 6px;
                }
                
                .form-check-input{
                    background-color: $color1;
                    border-color: $gray; 
                }

                .form-check-label{
                    color: $gray;
                    a{
                        color: $gray;
                    }
                }
            }
            /*form styles*/
            form{
                .text-mute{
                    font-size: 16px;
                    color: #8D899E;
                    font-weight: 400;
                    padding-top: 12px;
                    padding-bottom: 24px;
                }

                .btn-success{
                    background-color: $color6;
                    border-radius: 6px;
                    border: none;
                    font-weight: 500;
                    padding: 10px 16px;
                    height: 44px;

                    &:hover{
                    opacity: 0.8;
                    transition: 0.3s;
                    background: $gradienColor;
                    border: none;
                    color: white;
                
                    }
                }
            }
        }
    }
}

// halaman login dan sign up

.body-login{
    // background-image: $gradienBg;
    background: linear-gradient(101.71deg, #3B1B74 9.67%, #230D49 90.64%);
    overflow-x: hidden;
    overflow-y: scroll;
    height: 100vh;
}
.login-container{
    position: relative;
    padding-bottom: 120px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 1144px;
    width: 100%;

    .login-illustration{
        position: absolute;
        top: -305px;
        left: auto;
        bottom: 0;
        right: -365px;
        width: 930px;
        display: none;
    }

    .container{
        padding-top: 40px;

        .login-container__inner {
            position: relative;
            z-index: 5;
        }
        
        .left{
            background-color: $color2;
            background-image: url(../images/login/Bg2.png);
            background-size: cover;
            background-position:center;
            padding: 0;
            border-radius: 6px 0px 0px 6px;

            .login-container__left-image {
                width: 100%;
                height: auto;
            }
        }

        .right{
            background-color: #18103E;
            padding: 24px 24px 8px;
            border-radius: 6px;
            box-shadow: 0px 5.10345px 25.5172px rgba(6, 12, 59, 0.08);

            h4{
                font-family: 'Larsseit-medium';
                font-size: 18px;
                margin-top: 40px;
                margin-bottom: 24px;
                // margin-bottom: 0;
                // font-size: 24px;
                // padding-top: 66px;
                // padding-bottom: 32px;
            }

            .form-label{
                font-size: 14px;
                font-style: normal;
                font-weight: normal;
                margin-bottom: 12px;
                // line-height: 28px;
                // font-size: 16px;
                // margin-bottom: 12px;

                // letter-spacing: 1px;
            }

            form{
                position: relative;

                .login-container__form-item {
                    margin-bottom: 19px;
                }
                
                .login-container__form-field {
                    position: relative;
                    overflow: hidden;
                    border-radius: 6px;
                }

                .login-container__form-field-pwicon {
                    z-index: 1;
                }
                
                .login-container__form-field-gradient {
                    // background: linear-gradient(228.14deg, #861C9B 32.72%, rgba(166, 50, 230, 0.83) 44.41%, rgba(119, 49, 242, 0.92) 61.25%, #4818EC 70.77%) ;
                    background: linear-gradient(263.29deg, #861C9B -9.37%, #4818EC 113.75%);
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    display: block;
                    width: 100%;
                    height: 100%;
                    z-index: -1;
                    transition: border-color .25s ease-in-out;    
                }

                .form-control{
                    font-size: 14px;
                    padding: 10px 14px;
                    border: 1px solid #0F0635;
                    background-color: #0F0635;
                    color: white;
                    position: relative;
                    border-radius: 6px;
                    z-index: 1;
    
                    &:focus {
                        outline: none;
                        box-shadow: none;
                        border-color: transparent;

                        & + .login-container__form-field-gradient {
                            z-index: 0;
                        }
                    }
                }

                .form-password{
                    position: relative;
    
                    #togglePassword{
                        position: absolute;
                        top: 26%;
                        right: 0;
                        // left: 0;
                        bottom: 0;
                    }

                    .bi-eye-slash::before {
                        content: "\f320";
                        font-size: 16px;
                    }
                }

                .btn-primary{
                    background-image: $gradienColor;
                    border-radius: 6px;
                    height: 50px;
                    width: 100%;
                    border: none;
                    margin-top: 5px;

                    &:hover{
                        opacity: 0.9;
                    }
                }

                .login-container__form-link {
                    text-align: center;
                    margin-bottom: 2em;
                }

                .login-container__form-separator{
                    color: $gray;
                    display: block;
                    margin-top: 48px;
                    margin-bottom: 0;
                }

                .privacy{
                    margin-top: 1em;
                    margin-bottom: 1em;

                    a {
                        font-size: 14px;
                        font-weight: 400;
                        line-height: 1.4;
                        color: #B4B6C4;
                        text-decoration: none;
                        padding-right: 22px;
                        display: inline-block;
    
                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }
            }

            .form-check{
                margin-top: 16px;
                padding-left: 36px;
                padding-right: 36px;
            }

            .input-group-text{
                background-color: $color1;
                border: none;
                border-radius: 6px;
            }

            .form-password-responsive{
                margin-top: 24px;
            }

            .form-check-input{
                background-color: $color1;
                border-color: $gray; 
            }

            .form-check-label{
                color: #5D6180;
                
                a{
                    color: #5D6180;
                    font-size: 16px;
                    line-height: 26px;
                }
            }
            
            .forget-password{
                font-style: normal;
                font-weight: 500;
                font-size: 16px;
                line-height: 20px;
                color: #A691EC !important;
                text-decoration: none;
                // letter-spacing: 1px;
            }
        }
    }
}

// waiting
.body-waiting{
    background-image:$gradienBg;
    overflow-x: hidden;
    overflow-y: scroll;
}
.waiting-container{
    position: relative;
    padding-bottom: 90px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 1144px;
    width: 100%;

    .login-illustrasi{
        position: absolute;
        top: -185px;
        left: auto;
        bottom: 0;
        right: -200px;
        width: 900px;
    }

    .container{
        padding-top: 65px;

        .form-password{
            position: relative;

            #togglePassword{
                position: absolute;
                top: 23%;
                right: 0;
                // left: 0;
                bottom: 0;
            }
            
            #NewTogglePassword{
                position: absolute;
                top: 23%;
                right: 0;
                // left: 0;
                bottom: 0;
            }
        }

        .waiting-list{
            background-color: $color2;
            padding-left: 40px;
            padding-right: 40px;
            border-radius: 6px;
            
            @media (min-width: 768px) {
                flex: 0 0 auto;
                width: 522px;
            }

            h4{
                font-size: 24px;
                font-family: 'Larsseit-medium';
            }

            .form-control{
                padding: 12px 16px;
                border: 1px solid $color2;
                background-color: #1B143C;
                border-radius: 6px;
                color: white;
                -webkit-appearance: none;

                &:focus{
                    box-shadow: 0 0 0 0;
                    border-image-slice: 1;
                    border-width: 1;
                    // border: 1px solid #1B143C;
                    border-image-source: linear-gradient(to left, #743ad5, #d53a9d);
                    border-radius: 6px;
                }
            }

            .form-check-input{
                background-color: $color1;
                border-color: $gray; 
            }

            .form-check-label{
                color: $gray;

                a{
                    color: $gray;
                }
            }
        
            .btn-primary{
                @include tombol;

                &:hover{
                    opacity: 0.9;
                }
            }

            .forget-password{
                font-style: normal;
                font-weight: 500;
                font-size: 16px;
                color: $textColor !important;
                text-decoration: none;
            }

            hr{
                color: $gray;
            }

            .privacy{
                margin-top: 20px;
                margin-bottom: 20px;
                
                a{
                    text-decoration: none;
                    color: $grayScale;
                    padding-right: 22px;
                    font-weight: 400;
                }
            }
        }
    }
}

// success
.body-success{
    background-image:$gradienBg;
    overflow-x: hidden;
    overflow-y: scroll;
}
.container-success{
    position: relative;
    padding-bottom: 90px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 1144px;
    width: 100%;

    .login-illustrasi{
        position: absolute;
        top: -185px;
        left: auto;
        bottom: 0;
        right: -200px;
        width: 900px;
    }
    .container{
        padding-top: 200px;
        margin-bottom: 200px;
        
    }
    .card{
        height: 380px;
        position: relative;
        z-index: 5;
        background-color: $color1;
        color: white;
        text-align: center;
        .card-body{
            .card-title{
                font-family: 'Larsseit-medium';
                font-size: 20px;
                line-height: 130%;
            }
            .card-text{
                font-size: 14px;
                line-height: 115%;
                color: #BBB9C5;
            }
        }
    }
}

// Tablet Version
@media screen and (min-width: 768px) {
    // homepage
    .jumbotron{
        .display-4{
            font-size: 48px;
            line-height: 50px;
        }
    }
    .container-content {
        .info-panel{
            .findstore{
                margin-top: -20px;
            }

            #resultlist {
                width: 47%;
            }
        }
    }

    // login
    .login-container{
        .container{
            .right{
                .form-password-responsive{
                    margin-top: 0;
                }
                .form-password{
                    .bi-eye-slash::before{
                        font-size: 24px;
                    }
                }
            }
        }
    }

}

// Desktop Version
@media screen and (min-width: 992px) {

    // login
    .login-container{
        .container{
            padding-top: 80px;

            .right{
                padding: 40px 56px 0;
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;

                h4 {
                    margin-top: 66px;
                    margin-bottom: 32px;
                }
                
                form {
                    .form-label {
                        font-size: 1rem;
                    }

                    .form-control {
                        font-size: 1rem;
                        padding: 11px 15px;
                    }

                    .login-container__form-item {
                        margin-bottom: 24px;
                    }

                    .login-container__form-separator {
                        margin-top: 56px;
                    }

                    .privacy {
                        margin-top: 24px;
                        margin-bottom: 24px;

                         a {
                             font-size: 1rem;
                         }
                    }
                }


                .form-password-responsive{
                    margin-top: 0;
                }

                .form-password{
                    .bi-eye-slash::before{
                        font-size: 24px;
                    }
                }
            }
            
            .login-illustration {
                display: block;
            }
        }
    }

    // waiting list
    .waiting-container{
        .container{
            padding-top: 70px;
        }
    }

    // success
    .container-success{
        .card{
            width: 522px;
            height: 432px;
            .card-body{
                .card-title{
                    font-size: 24px;
                }
                .card-text{
                    font-size: 16px;
                }
            }
        }
    }

    // Dashboard
    .navbar-dashboard{
        height: 80px;

        .container{
            padding: 0;
        }

        .navbar-collapse{
            position: relative;
            top: auto;
            width: auto;
            z-index: 15;
            padding-left: 0px;
            padding-right: 0px;
            padding-bottom: 0px;
        }
    }

    .card-dashboard{
        .container{
            padding-left: 0px;
            h2{
                font-size: 32px;
                font-weight: 600;
            }
        }
    }

    .checkout{
        .container{
            .announcements{
                margin-left: 23px;
                width: 320px;
                margin-top: 0;
            }  
            
            .table-content{
                width: 965px;

                h5{
                    margin-left: 20px;
                }
            }
        }
        .paginition{
            margin-right: 25px;
            .nav-pills{
                .nav-item{
                    #pills-home-tab{
                        margin-left: 0px;
                    }
                    .nav-link{
                        width: 125px;
                    }
                    .nav-link.active{
                        width: 125px;
                    }
                }
            }
        }
    }

    // Task
    .task-judul{
        .container{
            margin-bottom: 0px;
            padding: 0;
            .flex-right{
                justify-content: flex-end;
            }

            .btn-group{
                form{
                    .form-control{
                        width: auto;
                    }
                }
            }

            .btn-group{
                margin-right: 16px;
            }

            .btn-primary{
                margin-left: 15px;
                width: 135px !important;
            }

        }
    }
    .task-cart{
        .table-content{
            .dataTables_paginate {
                float: right;
            }
        }
    }

    // Profil
    .profile{
        .your-profile-left{

        }
        .your-profile-right{
            .profile-information{
                margin-left: 32px;
                margin-top: auto;

                .profile-information-left{

                }

                .profile-information-right{
                    &::after{
                        position: absolute;
                        border-left: 1px solid $gray;
                        height: 720px;
                        // width: 100%;
                        bottom: 30px;
                        left: 0;
                        content: "";
                    }
                    .card{
                        .card-text-name-profile{
                            .detail-profile{
                                margin-top: -10px;
                            }
                        }
                    }
                }
            }
        }

    }

    // homepage
    .content-homepage{
        height: 675px;
    }
    .navbar-homepage{
        background-color: transparent;
        padding-top: 30px;
        .container{
            width: 1044px;
        }
        .nav-item{
            padding-left: 30px;
        }
        .navbar-collapse{
            position: relative;
            top: auto;
            width: auto;
            z-index: 15;
            padding-left: 0px;
            padding-right: 0px;
            padding-bottom: 0px;
            background-color: transparent;
        }

        .collapse{
            .btn-getstarted{
                margin-right: 8px;
                width: 125px;
                height: 43px;
            }
            .btn-login{
                margin-top: 0;
                width: 75px;
                height: 43px;
            }
        }
    }

    .jumbotron{
        .container{
            width: 1044px;

            .jumbotron-row{
                flex-direction: unset;
                
            }
        }
        .display-4{
            font-weight: 700;
            font-size: 60px;
            margin-top: 65px;
            line-height: 60px;
            // margin-bottom: 16px;
        }
        .lead{
            font-size: 18px;
        }
        .btn-primary{
            padding: 14px 24px;
            font-size: 18px;
        }

        .header-illustration{
            justify-content: end;
        }

        img{
            margin-top: 30px;
            width: 667px;
            height: 100%;
        }
    }

    .container-content{
        width: 1044px;

        // info panel
        .info-panel{
            margin-top: -60px;
            height: 114px;
            margin-left: 0px;
            margin-right: 0px;

            #resultlist{
                width: 50%;
                margin-top: 0;
            }
            form{
                // position: relative;
                .form-control{
                    padding-left: 8%;
                    margin-left: 10px;
                    margin-bottom: 0px;
                    
                    + label {
                        left: 10px;
                    }
                }
            }

            .dropdown{
                .btn-secondary{
                    padding: 12px 16px;
                    margin-left: 35px;
                    // width: 165px;
                    width: auto;
                    margin-bottom: 0px;

                    img{
                        float: none;
                    }
                }
            }
            .findstore{
                margin-top: 0px;
            }
        }

        // card
        .card-shop{
            .card{
                margin: 0px;
            }
        }
    }

    // 404
    .body-404{
        .navbar-homepage{
            .navbar-collapse{
                position: relative;
                top: auto;
                width: auto;
                z-index: 15;
                background-color: transparent;
                padding-left: 0px;
                padding-right: 0px;
                padding-bottom: 0px;
            }
        }
        .container-fluid{
            .pattern{
                width: 1440px;
                top: -100px;
                left: 0;
            }
            .illustration-404{
                width: 470px;
            }
            .display-4{
                margin-top: 20px;
                font-size: 32px;
            }
            .lead{
                font-size: 18px;
           }
        }

        .ellipe-1{
            background-position-x: 600px;
        }

        .ellipe-2{
            background-position-x: -600px;
        }
    }
}


