@import 'fonts';
@import 'variables';
@import 'mixins';

body{
    font-family: 'Inter', sans-serif;
}

// home page
.body-homepage{
    background-color: $color3;
}
.navbar-homepage{
    background-color: $color1;

    .container{
        width: 1044px;
    }
    .collapse{
        .btn-getstarted{
            // padding: 12px 16px;
            background-color: $color6;
            border: 1px solid $color6;
            border-radius: 5px;
            width: 125px;
            height: 43px;
            &:hover{
                opacity: 0.8;
            }
        }
        .btn-login{
            // padding: 12px 16px;
            background-color: transparent;
            border-radius: 5px;
            border: 1px solid $color6;
            color: $color6 !important;
            margin-top: 10px;
            width: 75px;
            height: 43px;
        }
    }
}

// jumbotron
.jumbotron{
    background-image: url(../images/homepage/background.png);
    // background-size: cover ;
    background-position: center;
    height: 675px;
    overflow: hidden;

    .container{
        width: 1044px;
    }

    .display-4{
        color: white;
        font-weight: 500;
        margin-top: 90px;
        line-height: 60px;
    }
    .lead{
        color: $graytext;
        font-size: 14px;
        font-weight: 400;
        margin-top: 16px;
    }
    .btn-primary{
        background: $gradienColor;
        border-radius: px;
        padding: 16px 24px;
        border: none;
        font-size: 16px;
        font-weight: 500;
        margin-top: 32px;
        width: 148px;
        height: 54px;

        &:hover{
            opacity: 0.8;
        }       
    }
    img{
        margin-top: 120px;
    }
}

.container-content{
    position: relative;

    // info panel
    .info-panel{
        background-color: $color2;
        margin-top: -90px;
        position: relative;
        z-index: 1;
        height: 170px;
        margin-left: 5px;
        margin-right: 5px;

        .form-control{
            background-color: $color1;
            padding: 12px 16px;
            border: none;
            color: white;
            border-radius: 5px;
        }

        .dropdown{
            .btn-secondary{
                background-color: $color1;
                border: none;
                // text-align: center;
                padding: 12px 16px;
                border-radius: 5px;
                color: $graytext;
                margin-left: 35px;
                // height: 43px;

                &:hover{
                    opacity: 0.8;
                }
            }

            .dropdown-item{
                // background-color: $color2;
                color: $graytext;

                &:hover{
                    color: white;
                    background-color: $color3;
                }
            }
            .dropdown-menu {
                background-color: $color1;
            }
        }

        .btn-findstore{
            background-color: $color6;
            border-radius: 5px;
            // padding: 12px 16px;
            text-align: center;
            border: none;
            width: 119px;
            height: 43px;

            &:hover{
                opacity: 0.8;
            }
        }
    }

    .card-shop{
        margin-top: 80px;
        margin-bottom: 100px;
        .card{
            border: 1px solid #33275C;
            border-radius: 5px;
            margin: 10px;
            .card-header{
                background-color: $color2;
                color: white;
                padding-top: 15px;

                img{
                    margin-right: 20px;
                    margin-top: 5px;
                    margin-left: 10px;
                    margin-bottom: 10px;
                    width: 60px;
                    height: 30px;
                }

                .card-title{
                    font-size: 20px;
                    font-weight: 700;
                    margin-bottom: 0;
                }
                .card-text{
                    color: $graytext;
                }
            }
            .card-body{
                padding: 0;
                img{
                    width: 100%;
                }
            }

            .card-footer{
                background-color: $color2;
                padding: 10px;
                .card-text{
                    color: $graytext;
                    font-size: 14;
                    margin-bottom: 2px;
                    margin-left: 10px;
                }
                .card-title{
                    font-size: 20px;
                    font-weight: 400;
                    color: white;
                    margin-left: 10px;
                }
                .btn-primary{
                    background-color: rgba(101, 78, 179, 0.5);
                    padding: 9px 16px;
                    text-align: center;
                    border: none;
                    margin-right: 10px;
                    margin-top: 6px;
                    width: 104px;
                    height: 43px;

                    &:hover{
                        opacity: 0.8;
                    }
                }
            }
        }
    }
}
// dashboard
.dashboard{
    background-color: $color1;
}

// navbar
.navbar-dashboard{
    background-color: $color2;
    padding-top: 10px;
    padding-bottom: 10px;


    .navbar-nav{
        .nav-item{
            margin-right: 20px;

            img{
                margin-right: 10px;
            }

            .active{
                background-color: $color6;
                border-radius: 6px;
                padding: 10px 16px;
            }
        }
    }
}

// card-Dashboard
.card-dashboard{
    .card{
        background-color: $color2;
        height: 190px;
        padding: 10px 0px 10px 10px;
        position: relative;
        margin-top: 24px;
        margin-right: 10px;

        .card-body{
            .card-subtitle{
                font-weight: 500;
                font-size: 16px;
            }
    
            .card-title{
                font-size: 30px;
                color: white;
            }
    
            .card-text{
                background: rgba(40, 199, 111, 0.12);
                width: 100px;
                border-radius: 6px;
                padding: 6px 8px;
            }

            .title{
                font-size: 14px;
                color: $graytext;
                margin-top: 16px;
                font-weight: 400;
                span{
                    font-size: 16px;
                    font-weight: 500;
                    color: white;
                }
            }

            .btn-primary{
                background-color: $color6;
                border-radius: 6px;
                padding: 10px 16px;
                border: none;
                width: 100%;
            }
        }

        .card-backgroud{
            position: absolute;
            top: 100;
            right: 0;
            left: 100;
            bottom: 0;
        }
    }
}

// checkout
.checkout{
    margin-top: 32px;

    .table-content{
        background-color: $color2;
        padding: 0;
        width: 965px;
    }

    .paginition{
        background-color: $color4;
        padding: 6px 5px;
        margin-bottom: 10px;
        border-radius: 6px;
        margin-right: 25px;

        button{
            background-color: transparent;
            border: none;
            color: white;
            font-size: 14px;
            font-weight: 600;
        }

        button.active{
             background-color: $color6;
             width: 110px;
             height: 30px;
             border-radius: 6px;
        }
    }

    .card{
        background: linear-gradient(104.6deg, #6A3EE9 9.63%, #E03C8B 69.52%, #9D2FD8 99.46%);
        border-radius: 6px;
        border: none;
        text-align: center;
        padding: 30px 30px;

        .card-subtitle{
            font-size: 26px;
            font-weight: 600;
            margin-bottom: 20px;
        }

        .btn-primary{
            background-color: white;
            border: none;
            color: black;
            width: 100%;
        }
    }

    .table {
        padding-left: 40px;

        .form-check-input {
            background-color: transparent;
            border-color: $gray;
        }

        tbody{
            vertical-align: 0;
        }
        th {
            border-style: none;
            padding-top: 20px;
            padding-bottom: 20px;
            padding-left: 30px;
        }
        td{
            padding-top: 15px;
            padding-bottom: 15px;
            padding-left: 30px;
            border-color: $gray;
        }

    }
}

// footer
footer{
    padding-bottom: 10px;
    span{
        font-size: 14px;
        font-weight: 400;
        color: $graytext;
    }
    a{
        color: $graytext;
        text-decoration: none;
        font-size: 14px;
        font-weight: 400;
    }
}

// halaman login dan sign up

// .body-login{
//     background-image: url(../images/login/waiting.png);
//     background-position: center;
// }
.login-container{
    padding-bottom: 120px;

    .container{
        padding-top: 40px;
        .left{
            background-color: $color2;            
        }
        .right{
            background-color: $color2;
            padding-top: 40px;
            padding-right: 40px;
            padding-left: 40px;

            .form-control{
                // width: 470px;
                padding: 12px 16px;
                border: #1B143C;
                background-color: #1B143C;
                border-radius: 6px;
                color: white;

                &:focus{
                    box-shadow: 0 0 0 0.1rem $color6;
                }
            }

            .form-check-input{
                background-color: $color1;
                border-color: $gray; 
            }

            .form-check-label{
                color: $gray;
                a{
                    color: $gray;
                }
            }

            .btn-primary{
                @include tombol;
                &:hover{
                    opacity: 0.9;
                }
            }
            .forget-password{
                font-style: normal;
                font-weight: 500;
                font-size: 16px;
                color: $textColor !important;
                text-decoration: none;
            }
            hr{
                color: $gray;
            }
            .privacy{
                margin-top: 20px;
                margin-bottom: 20px;
            }
            .privacy a{
                text-decoration: none;
                color: $grayScale;
                padding-right: 22px;
                font-weight: 400;
            }
        }
    }
}

// waiting
.waiting-container{
    padding-bottom: 90px;
    .container{
        padding-top: 65px;

        .waiting-list{
            background-color: $color2;
            padding-left: 40px;
            padding-right: 40px;
        
            .form-control{
                padding: 12px 16px;
                border: none;
                background-color: #1B143C;
                border-radius: 6px;
                color: white;
            }
            .form-check-input{
                background-color: $color1;
                border-color: $gray; 
            }
            .form-check-label{
                color: $gray;
                a{
                    color: $gray;
                }
            }
        
            .btn-primary{
                @include tombol;
                &:hover{
                    opacity: 0.9;
                }
            }
            .forget-password{
                font-style: normal;
                font-weight: 500;
                font-size: 16px;
                color: $textColor !important;
                text-decoration: none;
            }
            hr{
                color: $gray;
            }
            .privacy{
                margin-top: 20px;
                margin-bottom: 20px;
            }
            .privacy a{
                text-decoration: none;
                color: $grayScale;
                padding-right: 22px;
                font-weight: 400;
            }
        }
    }
}

// success
.container-success{
    height: 100vh;
    .card{
        background-color: $color1;
        color: white;
        text-align: center;
        margin-top: 40%;
    }
}


// Desktop Version
@media screen and (min-width: 992px) {

    // login
    .login-container{
        .container{
            padding-top: 80px;
        }
    }

    // waiting list
    .waiting-container{
        .container{
            padding-top: 70px;
        }
    }

    // Dashboard
    .navbar-dashboard{
        height: 80px;
    }

    // homepage
    .navbar-homepage{
        background-color: transparent;
        padding-top: 30px;
        .nav-item{
            padding-left: 30px;
        }

        .collapse{
            .btn-getstarted{
                margin-right: 8px;
            }
            .btn-login{
                margin-top: 0;
            }
        }
    }

    .jumbotron{
        margin-top: -100px;

        .display-4{
            margin-top: 150px;
            font-weight: 700;
            font-size: 50px;
        }
        .lead{
            font-size: 18px;
        }
        .btn-primary{
            padding: 14px 24px;
            font-size: 18px;
        }
    }

    .container-content{
        width: 1044px;

        // info panel
        .info-panel{
            margin-top: -60px;
            height: 114px;
            margin-left: 0px;
            margin-right: 0px;

            .form-control{
                margin-left: 10px;
            }

            .dropdown{
                .btn-secondary{
                    padding: 12px 16px;
                }
            }
        }

        // card
        .card-shop{
            .card{
                margin: 0px;
            }
        }
    }
}


