@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap");
body {
  font-family: 'Inter', sans-serif;
}

.body-homepage {
  background-color: #2B2252;
}

.navbar-homepage {
  background-color: #1B143C;
}

.navbar-homepage .container {
  width: 1044px;
}

.navbar-homepage .collapse .btn-getstarted {
  background-color: #7963FA;
  border: 1px solid #7963FA;
  border-radius: 5px;
  width: 125px;
  height: 43px;
}

.navbar-homepage .collapse .btn-getstarted:hover {
  opacity: 0.8;
}

.navbar-homepage .collapse .btn-login {
  background-color: transparent;
  border-radius: 5px;
  border: 1px solid #7963FA;
  color: #7963FA !important;
  margin-top: 10px;
  width: 75px;
  height: 43px;
}

.jumbotron {
  background-image: url(../images/homepage/background.png);
  background-position: center;
  height: 675px;
  overflow: hidden;
}

.jumbotron .container {
  width: 1044px;
}

.jumbotron .display-4 {
  color: white;
  font-weight: 500;
  margin-top: 90px;
  line-height: 60px;
}

.jumbotron .lead {
  color: #BBB9C5;
  font-size: 14px;
  font-weight: 400;
  margin-top: 16px;
}

.jumbotron .btn-primary {
  background: linear-gradient(263.29deg, #861C9B -9.37%, #4818EC 113.75%);
  border-radius: px;
  padding: 16px 24px;
  border: none;
  font-size: 16px;
  font-weight: 500;
  margin-top: 32px;
  width: 148px;
  height: 54px;
}

.jumbotron .btn-primary:hover {
  opacity: 0.8;
}

.jumbotron img {
  margin-top: 120px;
}

.container-content {
  position: relative;
}

.container-content .info-panel {
  background-color: #221B4A;
  margin-top: -90px;
  position: relative;
  z-index: 1;
  height: 170px;
  margin-left: 5px;
  margin-right: 5px;
}

.container-content .info-panel .form-control {
  background-color: #1B143C;
  padding: 12px 16px;
  border: none;
  color: white;
  border-radius: 5px;
}

.container-content .info-panel .dropdown .btn-secondary {
  background-color: #1B143C;
  border: none;
  padding: 12px 16px;
  border-radius: 5px;
  color: #BBB9C5;
  margin-left: 35px;
}

.container-content .info-panel .dropdown .btn-secondary:hover {
  opacity: 0.8;
}

.container-content .info-panel .dropdown .dropdown-item {
  color: #BBB9C5;
}

.container-content .info-panel .dropdown .dropdown-item:hover {
  color: white;
  background-color: #2B2252;
}

.container-content .info-panel .dropdown .dropdown-menu {
  background-color: #1B143C;
}

.container-content .info-panel .btn-findstore {
  background-color: #7963FA;
  border-radius: 5px;
  text-align: center;
  border: none;
  width: 119px;
  height: 43px;
}

.container-content .info-panel .btn-findstore:hover {
  opacity: 0.8;
}

.container-content .card-shop {
  margin-top: 80px;
  margin-bottom: 100px;
}

.container-content .card-shop .card {
  border: 1px solid #33275C;
  border-radius: 5px;
  margin: 10px;
}

.container-content .card-shop .card .card-header {
  background-color: #221B4A;
  color: white;
  padding-top: 15px;
}

.container-content .card-shop .card .card-header img {
  margin-right: 20px;
  margin-top: 5px;
  margin-left: 10px;
  margin-bottom: 10px;
  width: 60px;
  height: 30px;
}

.container-content .card-shop .card .card-header .card-title {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 0;
}

.container-content .card-shop .card .card-header .card-text {
  color: #BBB9C5;
}

.container-content .card-shop .card .card-body {
  padding: 0;
}

.container-content .card-shop .card .card-body img {
  width: 100%;
}

.container-content .card-shop .card .card-footer {
  background-color: #221B4A;
  padding: 10px;
}

.container-content .card-shop .card .card-footer .card-text {
  color: #BBB9C5;
  font-size: 14;
  margin-bottom: 2px;
  margin-left: 10px;
}

.container-content .card-shop .card .card-footer .card-title {
  font-size: 20px;
  font-weight: 400;
  color: white;
  margin-left: 10px;
}

.container-content .card-shop .card .card-footer .btn-primary {
  background-color: rgba(101, 78, 179, 0.5);
  padding: 9px 16px;
  text-align: center;
  border: none;
  margin-right: 10px;
  margin-top: 6px;
  width: 104px;
  height: 43px;
}

.container-content .card-shop .card .card-footer .btn-primary:hover {
  opacity: 0.8;
}

.dashboard {
  background-color: #1B143C;
}

.navbar-dashboard {
  background-color: #221B4A;
  padding-top: 10px;
  padding-bottom: 10px;
}

.navbar-dashboard .navbar-nav .nav-item {
  margin-right: 20px;
}

.navbar-dashboard .navbar-nav .nav-item img {
  margin-right: 10px;
}

.navbar-dashboard .navbar-nav .nav-item .active {
  background-color: #7963FA;
  border-radius: 6px;
  padding: 10px 16px;
}

.card-dashboard .card {
  background-color: #221B4A;
  height: 190px;
  padding: 10px 0px 10px 10px;
  position: relative;
  margin-top: 24px;
  margin-right: 10px;
}

.card-dashboard .card .card-body .card-subtitle {
  font-weight: 500;
  font-size: 16px;
}

.card-dashboard .card .card-body .card-title {
  font-size: 30px;
  color: white;
}

.card-dashboard .card .card-body .card-text {
  background: rgba(40, 199, 111, 0.12);
  width: 100px;
  border-radius: 6px;
  padding: 6px 8px;
}

.card-dashboard .card .card-body .title {
  font-size: 14px;
  color: #BBB9C5;
  margin-top: 16px;
  font-weight: 400;
}

.card-dashboard .card .card-body .title span {
  font-size: 16px;
  font-weight: 500;
  color: white;
}

.card-dashboard .card .card-body .btn-primary {
  background-color: #7963FA;
  border-radius: 6px;
  padding: 10px 16px;
  border: none;
  width: 100%;
}

.card-dashboard .card .card-backgroud {
  position: absolute;
  top: 100;
  right: 0;
  left: 100;
  bottom: 0;
}

.checkout {
  margin-top: 32px;
}

.checkout .table-content {
  background-color: #221B4A;
  padding: 0;
  width: 965px;
}

.checkout .paginition {
  background-color: #33275C;
  padding: 6px 5px;
  margin-bottom: 10px;
  border-radius: 6px;
  margin-right: 25px;
}

.checkout .paginition button {
  background-color: transparent;
  border: none;
  color: white;
  font-size: 14px;
  font-weight: 600;
}

.checkout .paginition button.active {
  background-color: #7963FA;
  width: 110px;
  height: 30px;
  border-radius: 6px;
}

.checkout .card {
  background: linear-gradient(104.6deg, #6A3EE9 9.63%, #E03C8B 69.52%, #9D2FD8 99.46%);
  border-radius: 6px;
  border: none;
  text-align: center;
  padding: 30px 30px;
}

.checkout .card .card-subtitle {
  font-size: 26px;
  font-weight: 600;
  margin-bottom: 20px;
}

.checkout .card .btn-primary {
  background-color: white;
  border: none;
  color: black;
  width: 100%;
}

.checkout .table {
  padding-left: 40px;
}

.checkout .table .form-check-input {
  background-color: transparent;
  border-color: #5D6180;
}

.checkout .table tbody {
  vertical-align: 0;
}

.checkout .table th {
  border-style: none;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 30px;
}

.checkout .table td {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 30px;
  border-color: #5D6180;
}

footer {
  padding-bottom: 10px;
}

footer span {
  font-size: 14px;
  font-weight: 400;
  color: #BBB9C5;
}

footer a {
  color: #BBB9C5;
  text-decoration: none;
  font-size: 14px;
  font-weight: 400;
}

.login-container {
  padding-bottom: 120px;
}

.login-container .container {
  padding-top: 40px;
}

.login-container .container .left {
  background-color: #221B4A;
}

.login-container .container .right {
  background-color: #221B4A;
  padding-top: 40px;
  padding-right: 40px;
  padding-left: 40px;
}

.login-container .container .right .form-control {
  padding: 12px 16px;
  border: #1B143C;
  background-color: #1B143C;
  border-radius: 6px;
  color: white;
}

.login-container .container .right .form-control:focus {
  -webkit-box-shadow: 0 0 0 0.1rem #7963FA;
          box-shadow: 0 0 0 0.1rem #7963FA;
}

.login-container .container .right .form-check-input {
  background-color: #1B143C;
  border-color: #5D6180;
}

.login-container .container .right .form-check-label {
  color: #5D6180;
}

.login-container .container .right .form-check-label a {
  color: #5D6180;
}

.login-container .container .right .btn-primary {
  background: linear-gradient(263.29deg, #861C9B -9.37%, #4818EC 113.75%);
  border-radius: 6px;
  padding: 15px 48px;
  border: none;
  width: 100%;
  margin-top: 32px;
}

.login-container .container .right .btn-primary:hover {
  opacity: 0.9;
}

.login-container .container .right .forget-password {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  color: #A691EC !important;
  text-decoration: none;
}

.login-container .container .right hr {
  color: #5D6180;
}

.login-container .container .right .privacy {
  margin-top: 20px;
  margin-bottom: 20px;
}

.login-container .container .right .privacy a {
  text-decoration: none;
  color: #B4B6C4;
  padding-right: 22px;
  font-weight: 400;
}

.waiting-container {
  padding-bottom: 90px;
}

.waiting-container .container {
  padding-top: 65px;
}

.waiting-container .container .waiting-list {
  background-color: #221B4A;
  padding-left: 40px;
  padding-right: 40px;
}

.waiting-container .container .waiting-list .form-control {
  padding: 12px 16px;
  border: none;
  background-color: #1B143C;
  border-radius: 6px;
  color: white;
}

.waiting-container .container .waiting-list .form-check-input {
  background-color: #1B143C;
  border-color: #5D6180;
}

.waiting-container .container .waiting-list .form-check-label {
  color: #5D6180;
}

.waiting-container .container .waiting-list .form-check-label a {
  color: #5D6180;
}

.waiting-container .container .waiting-list .btn-primary {
  background: linear-gradient(263.29deg, #861C9B -9.37%, #4818EC 113.75%);
  border-radius: 6px;
  padding: 15px 48px;
  border: none;
  width: 100%;
  margin-top: 32px;
}

.waiting-container .container .waiting-list .btn-primary:hover {
  opacity: 0.9;
}

.waiting-container .container .waiting-list .forget-password {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  color: #A691EC !important;
  text-decoration: none;
}

.waiting-container .container .waiting-list hr {
  color: #5D6180;
}

.waiting-container .container .waiting-list .privacy {
  margin-top: 20px;
  margin-bottom: 20px;
}

.waiting-container .container .waiting-list .privacy a {
  text-decoration: none;
  color: #B4B6C4;
  padding-right: 22px;
  font-weight: 400;
}

.container-success {
  height: 100vh;
}

.container-success .card {
  background-color: #1B143C;
  color: white;
  text-align: center;
  margin-top: 40%;
}

@media screen and (min-width: 992px) {
  .login-container .container {
    padding-top: 80px;
  }
  .waiting-container .container {
    padding-top: 70px;
  }
  .navbar-dashboard {
    height: 80px;
  }
  .navbar-homepage {
    background-color: transparent;
    padding-top: 30px;
  }
  .navbar-homepage .nav-item {
    padding-left: 30px;
  }
  .navbar-homepage .collapse .btn-getstarted {
    margin-right: 8px;
  }
  .navbar-homepage .collapse .btn-login {
    margin-top: 0;
  }
  .jumbotron {
    margin-top: -100px;
  }
  .jumbotron .display-4 {
    margin-top: 150px;
    font-weight: 700;
    font-size: 50px;
  }
  .jumbotron .lead {
    font-size: 18px;
  }
  .jumbotron .btn-primary {
    padding: 14px 24px;
    font-size: 18px;
  }
  .container-content {
    width: 1044px;
  }
  .container-content .info-panel {
    margin-top: -60px;
    height: 114px;
    margin-left: 0px;
    margin-right: 0px;
  }
  .container-content .info-panel .form-control {
    margin-left: 10px;
  }
  .container-content .info-panel .dropdown .btn-secondary {
    padding: 12px 16px;
  }
  .container-content .card-shop .card {
    margin: 0px;
  }
}
/*# sourceMappingURL=main.css.map */