@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&display=swap");
@font-face {
  font-family: 'Larsseit-bold';
  src: url("../libraries/font-bold/Larsseit-Bold.eot") format("eot"), url("../libraries/font-bold/Larsseit-Bold.svg") format("svg"), url("../libraries/font-bold/Larsseit-Bold.ttf") format("ttf"), url("../libraries/font-bold/Larsseit-Bold.woff") format("woff"), url("../libraries/font-bold/Larsseit-Bold.woff2") format("woff2");
  /* Legacy iOS */
}

@font-face {
  font-family: 'Larsseit-medium';
  src: url("../libraries/font-medium/Larsseit-Medium.eot") format("eot"), url("../libraries/font-medium/Larsseit-Medium.svg") format("svg"), url("../libraries/font-medium/Larsseit-Medium.ttf") format("ttf"), url("../libraries/font-medium/Larsseit-Medium.woff") format("woff"), url("../libraries/font-medium/Larsseit-Medium.woff2") format("woff2");
  /* Legacy iOS */
}

body {
  font-family: 'Inter', sans-serif;
  position: relative;
}

.scroller {
  overflow-y: scroll;
  scrollbar-color: #ac9ffc #dbd6ff;
}

/*css3 design scrollbar*/
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #DBD6FF;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #AC9FFC;
  border-radius: 10px;
}

.body-homepage {
  background-color: #221B42;
  overflow-x: hidden;
}

.content-homepage {
  background-image: linear-gradient(101.71deg, #3B1B74 9.67%, #230D49 90.64%);
  height: 904px;
  overflow: hidden;
  position: relative;
}

.content-homepage .container-homepage {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 1044px;
  width: 100%;
  position: relative;
}

.content-homepage .container-homepage .ellipe {
  position: absolute;
  top: -185px;
  left: auto;
  bottom: 0;
  right: -300px;
  width: 930px;
}

.content-homepage .container-homepage .ellipe_1 {
  position: absolute;
  top: -290px;
  bottom: 0;
  right: -450px;
  width: 630px;
}

.content-homepage .container-homepage .ellipe_2 {
  position: absolute;
  top: 0;
  left: -470px;
  width: 975px;
}

.navbar-homepage {
  position: relative;
  z-index: 999;
  height: 90px;
  background-color: transparent;
}

.navbar-homepage .container {
  width: 1044px;
  position: relative;
}

.navbar-homepage .container .navbar-toggler {
  border: none;
}

.navbar-homepage .container .navbar-toggler:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.navbar-homepage .container .navbar-nav .nav-item .nav-link {
  text-align: center;
  color: white;
  font-size: 16px;
  font-weight: 400;
}

.navbar-homepage .container .navbar-nav .nav-item .btn-getstarted {
  text-align: center;
}

.navbar-homepage .container .btn-getstarted {
  background-color: #7963FA;
  border: none;
  border-radius: 5px;
}

.navbar-homepage .container .btn-getstarted:hover {
  opacity: 0.8;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  background: linear-gradient(263.29deg, #861C9B -9.37%, #4818EC 113.75%);
  border: none;
  color: white !important;
}

.jumbotron {
  position: relative;
  z-index: 1;
}

.jumbotron .container .jumbotron-row {
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}

.jumbotron .container .jumbotron-row .aio__software {
  margin-top: 200px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 500;
  color: #2AF6FF;
}

.jumbotron .container .jumbotron-row .display-4 {
  color: white;
  font-weight: 500;
  line-height: 36px;
  font-family: 'Larsseit-bold';
  font-size: 36px;
  margin-top: 11px;
  padding: 0;
}

.jumbotron .container .jumbotron-row .lead {
  margin-top: 30px;
  font-size: 14px;
  line-height: 22px;
  color: rgba(255, 255, 255, 0.75);
}

.jumbotron .container .jumbotron-row .sold__out {
  background-color: #4C63A8;
  color: white;
  padding: 14px 0;
  border: none;
  font-size: 18px;
  font-weight: 500;
  margin-top: 23px;
  width: 123px;
  height: 54px;
  border-radius: 5px;
  margin-right: 11px;
  margin-bottom: 0;
  cursor: default;
}

.jumbotron .container .jumbotron-row .sold__out:hover {
  opacity: 0.8;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.jumbotron .container .jumbotron-row .learn__more {
  background-color: #7963FA;
  color: white;
  padding: 14px 0;
  border: none;
  font-size: 18px;
  font-weight: 500;
  margin-top: 23px;
  width: 149px;
  height: 54px;
  border-radius: 5px;
}

.jumbotron .container .jumbotron-row .learn__more:hover {
  opacity: 0.8;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.jumbotron .header-illustration {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  margin-top: 24px;
}

.jumbotron .header-illustration img {
  width: 300px;
  position: absolute;
}

.gradient__color {
  background-size: cover;
  height: 200px;
  position: relative;
  background-image: linear-gradient(101.71deg, #3B1B74 -1.33%, #230D49 90.64%);
}

.gradient__color::after {
  content: "";
  display: block;
  position: absolute;
  z-index: 20;
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  background-image: linear-gradient(182.9deg, rgba(34, 27, 66, 0) 22.28%, #221B42 82.1%);
}

.support {
  position: relative;
}

.support .container {
  max-width: 1040px;
}

.support .container .header__support {
  margin-top: 50px;
  color: white;
  text-align: center;
  font-weight: 700;
  font-family: 'Larsseit-bold';
  line-height: 42px;
  font-size: 32px;
  margin-bottom: 24px;
}

.support .container .title__support {
  text-align: center;
}

.support .container .title__support img {
  width: 154px;
  height: 36px;
  margin-top: 10px;
}

.animation__card {
  background-color: #221B42;
  margin-top: -160px;
  padding-top: 180px;
}

.animation__card .container-fluid {
  margin-top: -80px;
  position: relative;
  z-index: 55;
  padding: 0;
}

.animation__card .container-fluid .no-margin {
  margin-right: 0;
  margin-left: 0;
}

.animation__card .container-fluid .title__product {
  font-size: 32px;
  line-height: 32px;
  font-weight: 700;
  color: white;
  text-align: center;
  font-family: 'Larsseit-bold';
  margin-bottom: 0;
}

.animation__card .container-fluid .carousel .carousel__body .prev__next {
  position: relative;
  top: 250px;
  z-index: 999;
}

.animation__card .container-fluid .carousel .carousel__body .prev__next .carousel__prev {
  left: 10%;
  position: absolute;
}

.animation__card .container-fluid .carousel .carousel__body .prev__next .carousel__next {
  right: 10%;
  position: absolute;
}

.animation__card .container-fluid .carousel .carousel__body .ellipe__card {
  width: 600px;
  position: absolute;
  left: 10px;
  top: -30px;
}

.animation__card .container-fluid .carousel .carousel__body .carousel__slider .carousel__slider__item {
  width: 332px;
  height: 386px;
}

.animation__card .container-fluid .carousel .carousel__body .carousel__slider .carousel__slider__item .carousel__slider__item--active {
  width: 332px;
  height: 386px;
}

.animation__card .container-fluid .carousel .carousel__body .carousel__slider .carousel__slider__item .item__3d-frame .item__3d-frame__box .card {
  border: 1px solid #33275C;
  border-radius: 5px;
  margin: 10px;
  background-color: transparent;
  width: 100%;
  height: 100%;
  margin: 0;
}

.animation__card .container-fluid .carousel .carousel__body .carousel__slider .carousel__slider__item .item__3d-frame .item__3d-frame__box .card .card-header {
  background-color: #221B4A;
  color: white;
  padding-top: 15px;
  text-align: left;
}

.animation__card .container-fluid .carousel .carousel__body .carousel__slider .carousel__slider__item .item__3d-frame .item__3d-frame__box .card .card-header img {
  margin-right: 20px;
  margin-top: 5px;
  margin-left: 3px;
  margin-bottom: 10px;
  width: 60px;
  height: 30px;
}

.animation__card .container-fluid .carousel .carousel__body .carousel__slider .carousel__slider__item .item__3d-frame .item__3d-frame__box .card .card-header .card-title {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 0;
}

.animation__card .container-fluid .carousel .carousel__body .carousel__slider .carousel__slider__item .item__3d-frame .item__3d-frame__box .card .card-header .card-text {
  color: white;
  opacity: 0.75;
  font-size: 16px;
}

.animation__card .container-fluid .carousel .carousel__body .carousel__slider .carousel__slider__item .item__3d-frame .item__3d-frame__box .card .card-body {
  padding: 0;
}

.animation__card .container-fluid .carousel .carousel__body .carousel__slider .carousel__slider__item .item__3d-frame .item__3d-frame__box .card .card-body img {
  width: 100%;
}

.animation__card .container-fluid .carousel .carousel__body .carousel__slider .carousel__slider__item .item__3d-frame .item__3d-frame__box .card .card-footer {
  background-color: #221B4A;
  padding: 10px;
  text-align: left;
}

.animation__card .container-fluid .carousel .carousel__body .carousel__slider .carousel__slider__item .item__3d-frame .item__3d-frame__box .card .card-footer .card-text {
  color: white;
  opacity: 0.5;
  font-size: 14;
  margin-bottom: 2px;
  margin-left: 10px;
}

.animation__card .container-fluid .carousel .carousel__body .carousel__slider .carousel__slider__item .item__3d-frame .item__3d-frame__box .card .card-footer .card-title {
  font-size: 20px;
  font-weight: 400;
  color: white;
  margin-left: 10px;
}

.animation__card .container-fluid .carousel .carousel__body .carousel__slider .carousel__slider__item .item__3d-frame .item__3d-frame__box .card .card-footer .btn-primary {
  background-color: rgba(101, 78, 179, 0.5);
  padding: 9px 16px;
  text-align: center;
  margin-right: 10px;
  margin-top: 6px;
  width: 105px;
  height: 43px;
  border: none;
  font-size: 16px;
  color: white;
  font-weight: 500;
}

.animation__card .container-fluid .carousel .carousel__body .carousel__slider .carousel__slider__item .item__3d-frame .item__3d-frame__box .card .card-footer .btn-primary:hover {
  background: linear-gradient(263.29deg, #861C9B -9.37%, #4818EC 113.75%);
  border-radius: 5px;
  color: #B4B6C4 !important;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  opacity: 0.8s;
}

.features {
  background-color: #2B2252;
  padding-top: 120px;
  padding-bottom: 120px;
}

.features .container {
  max-width: 1044px;
}

.features .container .header__features {
  font-size: 32px;
  line-height: 32px;
  font-weight: 700;
  color: white;
  text-align: center;
  font-family: 'Larsseit-bold';
  margin-bottom: 0;
}

.features .container .title__features {
  line-height: 21px;
  font-size: 18px;
  color: #BBB9C5;
  font-weight: 400;
  text-align: center;
  margin-top: 16px;
  margin-bottom: 0;
}

.features .container .card__features {
  margin-top: 64px;
}

.features .container .card__features__row {
  margin-top: 8px;
}

.features .container .card {
  background-color: transparent;
  border: none;
  text-align: center;
  padding: 16px;
}

.features .container .card img {
  width: 90px;
  height: 90px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 24px;
}

.features .container .card .header__features__product {
  font-size: 20px;
  line-height: 24px;
  color: white;
  font-weight: 700;
  margin-bottom: 12px;
}

.features .container .card .title__features__product {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: white;
  opacity: 0.7;
}

.question {
  background-color: #221B42;
  padding-top: 120px;
  padding-bottom: 304px;
}

.question .container {
  max-width: 1040px;
  /* Horizontal line */
  /* Vertical line */
}

.question .container .header__question {
  font-size: 32px;
  line-height: 32px;
  font-weight: 700;
  color: white;
  text-align: center;
  font-family: 'Larsseit-bold';
  margin-bottom: 0;
  margin-bottom: 64px;
}

.question .container .accordion {
  background-color: #221B42;
}

.question .container .accordion .card {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #3A3456;
}

.question .container .accordion .card .card-header {
  border: none;
  padding: 24px 0;
  background-color: #221B42;
}

.question .container .accordion .card .card-header h6 {
  margin-bottom: 0;
}

.question .container .accordion .card .card-header .collapsible-link {
  color: white;
  text-decoration: none;
  line-height: 32px;
  font-weight: 500;
  font-size: 20px;
  padding-right: 12px;
}

.question .container .accordion .card .card-header a[aria-expanded="true"] {
  color: #7963FA;
}

.question .container .accordion .card .card-body {
  padding: 0;
  color: white;
  opacity: 0.7;
  font-size: 16px;
  line-height: 28px;
}

.question .container .accordion .card .card-body p {
  margin-bottom: 0;
  padding-bottom: 24px;
}

.question .container .collapsible-link {
  display: block;
  position: relative;
}

.question .container .collapsible-link::before {
  content: '';
  width: 14px;
  height: 2px;
  background-color: white;
  position: absolute;
  top: calc(50% - 1px);
  right: 1rem;
  display: block;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.question .container .collapsible-link::after {
  content: '';
  width: 2px;
  height: 14px;
  background-color: white;
  position: absolute;
  top: calc(50% - 7px);
  right: calc(1rem + 6px);
  display: block;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.question .container .collapsible-link[aria-expanded='true']::after {
  -webkit-transform: rotate(90deg) translateX(-1px);
          transform: rotate(90deg) translateX(-1px);
  background-color: #7963FA;
}

.question .container .collapsible-link[aria-expanded='true']::before {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  background-color: #7963FA;
}

.twitter {
  background-color: #2B2252;
}

.twitter .container {
  max-width: 1040px;
}

.twitter .container .card {
  border: none;
  border-radius: 6px;
  background-color: transparent;
  margin-top: -180px;
  height: 360px;
  padding: 0;
  background-image: url(../images/newhomepage/Bg.svg);
}

.twitter .container .card .card-img-overlay {
  text-align: center;
  padding: 0;
}

.twitter .container .card .card-img-overlay img {
  width: 72px;
  height: 72px;
  margin-bottom: 18px;
  margin-top: 18px;
}

.twitter .container .card .card-img-overlay .card-title {
  font-size: 32px;
  line-height: 38px;
  font-weight: 700;
  color: white;
  font-family: 'Larsseit-bold';
  margin-bottom: 0;
  padding: 0 5px;
}

.twitter .container .card .card-img-overlay .card-text {
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: white;
  opacity: 0.7;
  margin-top: 16px;
  margin-bottom: 32px;
  padding: 0 9px;
}

.twitter .container .card .card-img-overlay .follow__twitter {
  background-color: #360D6A;
  color: white;
  font-weight: 18px;
  line-height: 22px;
  font-weight: 500;
  text-decoration: none;
  padding: 16px 24px;
  border-radius: 6px;
}

.twitter .container .card .card-img-overlay .follow__twitter:hover {
  opacity: 0.9;
}

.twitter .container .link__help {
  padding-bottom: 64px;
  padding-top: 120px;
}

.twitter .container .link__help img {
  width: 86px;
  height: 42px;
}

.twitter .container .link__help .iris__help {
  font-size: 16px;
  line-height: 19px;
  color: rgba(255, 255, 255, 0.75);
  margin-bottom: 0;
  margin-top: 12px;
  padding-right: 70px;
}

.twitter .container .link__help .help__media__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.twitter .container .link__help .legal {
  margin-right: 5px;
  margin-top: 32px;
}

.twitter .container .link__help h6 {
  font-size: 16px;
  line-height: 19px;
  font-weight: 500;
  color: white;
  margin-bottom: 0;
  padding-bottom: 16px;
}

.twitter .container .link__help a {
  display: block;
  color: #8D899E;
  text-decoration: none;
  font-size: 14px;
  line-height: 19px;
  font-weight: 400;
  margin-bottom: 10px;
}

.twitter .container .link__help a:hover {
  opacity: 0.8;
}

.twitter .container footer {
  border-top: 1px solid #3A3456;
  text-align: center;
  padding: 24px 0;
}

.twitter .container footer p {
  font-size: 14px;
  line-height: 20px;
  color: #8D899E;
  font-weight: 400;
  margin-bottom: 0;
}

@media screen and (min-width: 768px) {
  .body-homepage {
    overflow-x: hidden;
  }
  .navbar-homepage .container .collapse .bottom__btn__collapse {
    width: 94%;
  }
  .jumbotron .container .jumbotron-row .aio__software {
    margin-top: 390px;
  }
  .jumbotron .container .jumbotron-row .display-4 {
    font-size: 48px;
    line-height: 50px;
  }
  .jumbotron .header-illustration {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .jumbotron .header-illustration img {
    width: 500px;
  }
  .container-content .info-panel .findstore {
    margin-top: -20px;
  }
  .container-content .info-panel #resultlist {
    width: 47%;
  }
  .twitter .container .link__help .help__media__social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@media screen and (max-width: 768px) {
  .navbar-homepage .container .collapse .bottom__btn__collapse {
    width: 94%;
  }
  .body-homepage {
    overflow-x: hidden;
  }
  .animation__card .container-fluid .carousel .carousel__body .ellipe__card {
    left: 80px;
    top: -30px;
  }
}

@media screen and (max-width: 576px) {
  .body-homepage {
    overflow-x: hidden;
  }
  .navbar-homepage .container .collapse .bottom__btn__collapse {
    width: 90%;
  }
  .gradient__color {
    background-image: linear-gradient(101.71deg, #3B1B74 -63.33%, #230D49 90.64%);
  }
  .animation__card .container-fluid .carousel .carousel__body .ellipe__card {
    left: -110px;
    top: -50px;
  }
}

@media screen and (min-width: 576px) {
  .body-homepage {
    overflow-x: hidden;
  }
  .gradient__color {
    background-image: linear-gradient(101.71deg, #3B1B74 -20.33%, #230D49 90.64%);
  }
}

@media screen and (min-width: 992px) {
  .body-homepage {
    overflow-x: hidden;
  }
  .gradient__color {
    background-image: linear-gradient(101.71deg, #3B1B74 -1.33%, #230D49 90.64%);
  }
  .navbar-homepage.scrolled {
    background-color: #221B42;
    width: 100%;
    left: 0;
    -webkit-box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.08);
            box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.08);
  }
  .navbar-homepage {
    width: 100%;
    left: 0;
    position: fixed;
  }
  .navbar-homepage .container {
    width: 1044px;
    padding: 0;
  }
  .navbar-homepage .container .navbar-brand .logo_responsive {
    display: none;
  }
  .navbar-homepage .container .menu-toggle input {
    display: none;
  }
  .navbar-homepage .container .collapse img {
    display: none;
  }
  .navbar-homepage .container .collapse .bottom__btn__collapse {
    display: none;
  }
  .navbar-homepage .nav-item {
    padding-left: 30px;
  }
  .navbar-homepage .navbar-collapse {
    position: relative;
    top: auto;
    width: auto;
    z-index: 15;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    background-color: transparent;
  }
  .navbar-homepage .collapse .btn-getstarted {
    margin-right: 0px;
    width: 116px;
    height: 43px;
  }
  .jumbotron .container {
    width: 1044px;
    padding: 0;
  }
  .jumbotron .container .jumbotron-row {
    -webkit-box-orient: unset;
    -webkit-box-direction: unset;
        -ms-flex-direction: unset;
            flex-direction: unset;
  }
  .jumbotron .container .jumbotron-row .aio__software {
    margin-top: 162px;
    font-size: 20px;
  }
  .jumbotron .container .jumbotron-row .display-4 {
    color: white;
    font-weight: 700;
    line-height: 60px;
    font-size: 60px;
    margin-top: 16px;
  }
  .jumbotron .container .jumbotron-row .lead {
    font-size: 18px;
  }
  .jumbotron .btn-primary {
    padding: 14px 24px;
    font-size: 18px;
  }
  .jumbotron .header-illustration {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
    margin-top: 150px;
    padding-left: 0;
    position: relative;
  }
  .jumbotron .header-illustration img {
    width: 797.42px;
    height: 525px;
    position: absolute;
    left: 0;
  }
  .support .container {
    padding: 0;
  }
  .support .container .header__support {
    margin-top: 170px;
    line-height: 60px;
    font-size: 48px;
    line-height: 60px;
  }
  .support .container .title__support img {
    margin-right: 15px;
    margin-top: 0;
  }
  .animation__card .container-fluid .title__product {
    font-size: 48px;
    line-height: 54px;
  }
  .animation__card .container-fluid .carousel .carousel__body .ellipe__card {
    width: 600px;
    position: absolute;
    left: 410px;
    top: -20px;
  }
  .container-content {
    width: 1044px;
  }
  .container-content .card-shop .card {
    margin: 0px;
  }
  .features .container {
    padding: 0;
  }
  .features .container .header__features {
    font-size: 48px;
    line-height: 60px;
  }
  .question .container .header__question {
    font-size: 48px;
    line-height: 54px;
  }
  .twitter .container {
    padding: 0;
  }
  .twitter .container .card .card-img-overlay img {
    margin-bottom: 35px;
    margin-top: 30px;
  }
  .twitter .container .card .card-img-overlay .card-title {
    font-size: 48px;
    line-height: 58px;
  }
  .twitter .container .card .card-img-overlay .card-text {
    font-size: 18px;
  }
  .twitter .container .link__help .help__media__social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .twitter .container .link__help .legal {
    margin-top: 0;
  }
}

@media screen and (max-width: 992px) {
  .body-homepage {
    overflow-x: hidden;
  }
  .navbar-homepage {
    z-index: 55;
  }
  .navbar-homepage .container .navbar-brand {
    margin-right: 0;
  }
  .navbar-homepage .container .collapse {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    top: -25px;
    right: 0;
    position: absolute;
    background-color: #2B2252;
    width: 100%;
    height: 100vh;
    z-index: -1;
    opacity: 0;
    -webkit-transition: all 0.8s;
    transition: all 0.8s;
    padding-top: 200px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .navbar-homepage .container .collapse .navbar-nav {
    height: 100vh;
    width: 100%;
  }
  .navbar-homepage .container .collapse .navbar-nav .nav-item {
    z-index: -1;
    position: relative;
    padding: 8px 0;
    border-bottom: 1px solid #3A3456;
  }
  .navbar-homepage .container .collapse .navbar-nav .nav-item .nav-link {
    text-align: left;
  }
  .navbar-homepage .container .collapse .navbar-nav .nav-item .nav-link:hover {
    opacity: 0.7;
  }
  .navbar-homepage .container .collapse .navbar-nav .nav-item:nth-child(4) {
    border-bottom: none;
  }
  .navbar-homepage .container .collapse .navbar-nav .nav-item:nth-child(5) {
    border-bottom: none;
  }
  .navbar-homepage .container .collapse .bottom__btn__collapse {
    text-align: center;
    bottom: 32px;
    position: absolute;
  }
  .navbar-homepage .container .collapse .icon__delete__responsive {
    display: block;
    position: absolute;
    top: 28px;
    right: 20px;
    cursor: pointer;
  }
  .navbar-homepage .container .collapse .logo_collapse {
    position: absolute;
    top: 20px;
    left: 20px;
  }
  .navbar-homepage .container .collapse.show {
    opacity: 1;
    z-index: 99;
  }
  .navbar-homepage .container .collapse.show .navbar-nav .nav-item {
    z-index: 1;
  }
  .navbar-homepage .container .menu-toggle {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 20px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    z-index: 6;
  }
  .navbar-homepage .container .menu-toggle span {
    display: block;
    width: 25px;
    height: 3px;
    background-color: white;
    border-radius: 3px;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }
  .navbar-homepage .container .menu-toggle input {
    position: absolute;
    width: 40px;
    height: 28px;
    left: -5px;
    top: -3px;
    opacity: 0;
    cursor: pointer;
    z-index: 2;
  }
  .navbar-homepage .container .navbar-brand .logo_deskstop {
    display: none;
  }
  .navbar-homepage .container .navbar-brand .logo_responsive {
    width: 40px;
    height: 40px;
    position: absolute;
    left: 15%;
    top: 0;
  }
  .content-homepage {
    height: 1020px;
  }
}
/*# sourceMappingURL=newhomepage.css.map */